<div class="home-container desktop-view">
  <section class="intro-section">
    <div class="centered-content-container">
      <div class="centered-content">
        <div class="logo">
          <img src="assets/img/demeter/logo.svg" 
            class="img-responsive"
            alt="demeter">
        </div>
        <h3 class="title">Technology Solutions In Agriculture</h3>
        <div class="dmt-btn-group">
          <button class="dmt-btn-single">
            Solution
          </button>
          <button class="dmt-btn-single">
              Project
          </button>
          <button class="dmt-btn-single">
              Partner
          </button>
          <button class="dmt-btn-single">
              Application
          </button>
          <button class="dmt-btn-single">
              Blog
          </button>
          <button class="dmt-btn-single">
              About
          </button>
        </div>
      </div>
    </div>
    <div class="dmt-footer">
      <div class="info-item">
          <i class="fa fa-envelope" aria-hidden="true"></i> info@demeter.vn
      </div>
      <div class="info-item middle-item">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <i class="fa fa-youtube" aria-hidden="true"></i>
      </div>
      <div class="info-item">
        <span>&copy; 2017 UFO Corp All Rights reserved</span>
      </div>
    </div>
  </section>
  <div
    [ngClass]="fetching ? 'fetching': ''"
    class="form-section">
    <div class="form-centered">
      <div class="register-form">
        <div class="row">
          <div class="form-title">
            <h2 class="text-center">Create an Account</h2>
          </div>
        </div>
        <form class="form-horizontal">
          <fieldset [disabled]="fetching">
            <div class="form-group">
              <span class="control-label col-sm-5">First Name</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="signUpAccount.first_name"
                  name="first_name"
                  type="text"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-5">Last Name</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="signUpAccount.last_name"
                  name="last_name"
                  type="text"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-5">Your Email</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="signUpAccount.email"
                  name="email"
                  type="text"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-5">Password</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="signUpAccount.password"
                  name="password"
                  type="password"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-5">Password Confirmation</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="signUpAccount.password_confirmation"
                  name="password_confirmation"
                  type="password"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-5">
                <button class="dmt-button btn btn-primary" (click)="signUp()">
                  Register
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="sign-in-form">
        <form class="form-horizontal">
          <fieldset [disabled]="fetching">
            <div class="form-group">
              <span class="control-label col-sm-5">Email</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="loginAccount.email"
                  name="email"
                  type="text"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-5">Password</span>
              <div class="col-sm-5">
                <input
                  [(ngModel)]="loginAccount.password"
                  name="password"
                  type="password"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-5">
                <button class="dmt-button btn btn-primary" (click)="login()">
                  Sign In
                </button>
                <p><a routerLink="/auth/forgot-password">Forgot password?</a></p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<mobile-sign-in></mobile-sign-in>