<div class="container demeter-container-title" translate>list_of_project</div>
<div class="container demeter-list-container">
  <div class="button-group">
    <button class="demeter-btn create-btn" (click)="goToCreate()">
      Create Project
    </button>
  </div>
  <div class="spinner-wrapper" *ngIf="isRequesting">
    <app-spinner [isRunning]="isRequesting"></app-spinner>
  </div>
  <div *ngFor="let project of projects">
    <app-project-summary 
      [project]="project"
      class="project-summary"></app-project-summary>
  </div>
</div>
