<demeter-user-header></demeter-user-header>

<div class="container demeter-container-title">
  Create Projects:
</div>
<div class="container demeter-container">
  <div class="row">
    <form class="form-horizontal">
      <fieldset>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-5 control-label">Project Name:</label>
            <div class="col-md-7">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Surface:</label>
            <div class="col-md-7">
              <input class="form-control" type="number">
              <p class="help-block">
                ha
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Labour:</label>
            <div class="col-md-7">
              <input class="form-control" type="number">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Location:</label>
            <div class="col-md-7">
              <input class="form-control" type="text" disabled>
              <p class="help-block">
                Select Gmap
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="project-image-holder">
            <img src="assets/img/cau-dat/icon/plus-grey.png" class="upload-plus-icon"/>
            <p class="image-label help-block">Image</p>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="col-md-12">
      <div class="col-md-1 col-padding-map"></div>
      <div class="col-md-1 col-map">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="google-map-container" id="google-map-container"></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="button-group pull-right">
        <button class="demeter-btn create-btn">
          Create
        </button>

        <button class="demeter-btn danger">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
