<div class="about-container">
  <div class="centered-content-container">
    <div class="centered-content">
      <div class="header">
        <div class="logo">
          <img src="assets/img/demeter/logo.svg" alt="demeter" class="img-responsive">
        </div>
        <div class="brand-wrap">
          <div class="brand-name">
            D-Family
          </div>
          <div class="brand-desc">
            Smart Farming For Your Family
          </div>
        </div>
      </div>
      <div class="contact-info">
        <p class="contact-header">Contact Us:</p>
        <ul>
          <li>
            <span class="contact-label">Email</span>
            <span class="contact-value">info@demeter.vn</span>
          </li>
          <li>
            <span class="contact-label">Hotline</span>
            <span class="contact-value">0935 844 959</span>
          </li>
          <li>
            <span class="contact-label">Address</span>
            <span class="contact-value">144 9A St., Binh Chanh Dist., HCM city</span>
          </li>
        </ul>
      </div>
      <div class="follow-us">
        <p class="follow-us-header">Follow Us:</p>
        <div class="social-icon">
          <img src="assets/img/demeter/icon/FACEBOOK_ABOUT.png" alt="facebook">
          <img src="assets/img/demeter/icon/INLINK_ABOUT.png" alt="linkedin">
          <img src="assets/img/demeter/icon/YOUTUBE_ABOUT.png" alt="youtube">
        </div>
      </div>
    </div>
  </div>
</div>