.create-btn {
    position: absolute;
    right: 0;
    top: -66px;
  }
  
  .point-button {
    position: absolute;
    right: 0;
    margin-top: -30px;
    padding: 3px 10px;
  }
  
  .distributions {
    display: flex;
    flex-direction: column;
  
    .info-container {
      display: flex;
      justify-content: flex-start;
      margin: 5px;
      padding: 10px;
      height: 140px;
      border: 0.5px solid #CCC;
    
      .brand-logo {
        width: 120px;
        height: 120px;
        position: relative;
    
        img {
          width: 100%;
          height: 100%;
        }
        .image-actions {
          display: flex;
          justify-content: flex-end;
          
          a {
            margin: 5px;
          }
        }
      }
  
      .info-rows {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 20px;
    
        .info-row {
          .info-label {
            width: 100px;
          }
      
          .info-value {
            font-weight: bold;
          }
        }
      }
    }  
  }