proxy:
  image: jwilder/nginx-proxy:latest
  ports:
    - "80:80"
  volumes:
    - "/var/run/docker.sock:/tmp/docker.sock"

db:
  image: postgres:9.5.4 # Heroku PostgreSQL Version
  ports:
    - "5432:5432" # Bind host port 5432 to PostgreSQL port 5432
  volumes_from:
    - dbdata
  environment:
    LC_ALL: C.UTF-8
    POSTGRES_PASSWORD: HowCanYouGuess

dbdata:
  image: postgres:9.5.4
  command: /bin/echo PostgreSQL Data Container

redis:
  image: redis

cache:
  image: memcached

web:
  build: .
  command: bundle exec unicorn -E development -c config/unicorn.rb
  volumes:
    - .:/rails
  env_file: .env.web
  expose:
    - 8080
  environment:
    - VIRTUAL_HOST=console.demeter.vn
    - VIRTUAL_PORT=8080
  links:
    - db
    - redis
    - cache

homepage_web:
  build: .
  entrypoint: /rails/dmt-homepage/entry.sh
  volumes:
    - .:/rails
  expose:
    - 9080
  environment:
    - VIRTUAL_HOST=demeter.vn
    - VIRTUAL_PORT=9080

worker:
  build: .
  entrypoint: /rails/entry.sh
  volumes:
    - .:/rails
  env_file: .env.web
  environment:
    RAILS_ENV: test
  links:
    - db
    - redis
    - cache
