<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Conditions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dmt-form">
        <div class="dmt-select rule-form-control">
          <select
            [(ngModel)]="rule.device"
            class="device-select">
            <option disabled value="">Select Sensor/Device</option>
            <option *ngFor="let device of devices" [ngValue]="device">{{device.name}}</option>
          </select>
        </div>
        <div *ngIf="rule.device.field_attribute === 'read_write'">
          <div class="dmt-select rule-form-control">
            <select
              [(ngModel)]="rule.value"
              class="device-select">
              <option value="1">ON</option>
              <option value="0">OFF</option>
            </select>
          </div>
        </div>
        <div *ngIf="rule.device.field_attribute === 'read_only'">
          <div class="dmt-select rule-form-control">
            <select
              [(ngModel)]="rule.condition"
              class="device-select">
              <option value="gt">Greater than</option>
              <option value="lt">Smaller than</option>
            </select>
          </div>
      
          <div class="rule-form-control value-form-control">
            <input 
              [(ngModel)]="rule.value"
              type="number"
              class="form-control" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="add()"
          class="dmt-btn btn-primary">Add</button>
        <button
          (click)="cancel()"
          class="dmt-btn btn-cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>
