    <div class="content-header">
      <div class="demeter-title">Data History</div>
    </div>

    <div class="demeter-pane">
      <div class="form-horizontal filter-form">
        <div class="form-group">
          <label class="control-label date-label">Date: </label>
          <div class="input-group date-input-group">
            <input type="text" name="date" 
              placeholder="Select a date" 
              [(ngModel)]="filter.date"
              (valueChange)="filter.date=$event"
              class="form-control datepicker"
              [saUiDatepicker]="{
                dateFormat: 'mm/dd/yy'
              }" >
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="form-group filter-form-group">
          <label class="control-label from-label">From: </label>
          <div class="input-group time-input-group">
            <input class="form-control" smartClockpicker type="text" data-autoclose="true" 
              [(ngModel)]="filter.start_time"
              (valueChange)="filter.start_time=$event">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
          </div>
          <label class="control-label to-label">To: </label>
          <div class="input-group time-input-group">
            <input class="form-control" smartClockpicker type="text" data-autoclose="true"
               [(ngModel)]="filter.end_time"
               (valueChange)="filter.end_time=$event">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
          </div>
          <button class="demeter-btn form-control-size primary pull-right" 
            (click)="queryHistoryData()">View</button>
        </div>
      </div>

      <div class="spinner-wrapper">
        <app-spinner [isRunning]="isRequesting"></app-spinner>
      </div>

      <multiple-chart [chartData]="chartData"></multiple-chart>
      <div class="single-chart-data"
        *ngFor="let singleChartData of singleChartDatas">
        <single-chart [data]="singleChartData"></single-chart>
      </div>
    </div>