<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Camera']" icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <button
                    class="demeter-btn create-btn primary pull-right"
                    routerLink="new">Create Camera</button>
                <sa-datatable [options]="options" 
                  (setDatatableEle)="setDatatableEle($event)"
                  tableClass="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th [style.width]="'12%'" data-hide="mobile-p">Camera ID</th>
                            <th [style.width]="'12%'" data-hide="mobile-p">Camera No</th>
                            <th data-hide="mobile-p">Camera Name</th>
                            <th data-hide="mobile-p">API</th>
                            <th></th>
                        </tr>
                    </thead>
                </sa-datatable>
            </div>
        </div>
  </div>
</div>