$brand-color: rgb(49, 139, 80);
.register-container {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.centered-content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  color: $brand-color;
  .centered-content {
    align-self: center;
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 400px;
  }
  h2 {
    margin-top: 0;
  }
}

.form-control {
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(194, 208, 162);
}
.dmt-button {
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 16px;
  &.btn-primary {
    background-color: $brand-color;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }
}