<div *ngFor="let camera of cameras"
  class="camera-single">
  <app-camera
    [camera]="camera"></app-camera>
</div>

<div class="spinner-wrapper control-pane">
  <app-spinner [isRunning]="isRequesting"></app-spinner>
  <div *ngFor="let device of devices" class="control-device">
    <div class="device-name">
      {{ device.name }}
    </div>
    <div class="device-spinner">
      <app-spinner [isRunning]="device.isRunning"></app-spinner>
    </div>
    <div class="toggle">
      <label class="dmt-toggle"
        (click)="changeValue($event, device)"
        [class.state-disabled]="device.mode !== 'manual' || device.isRunning || !(project.connected == 1)">
        <input type="checkbox"
          [ngModel]="device.value"
          [disabled]="device.mode !== 'manual' || device.isRunning || !(project.connected == 1)">
        <i data-swchoff-text="OFF" data-swchon-text="ON"></i>
      </label>
    </div>
  </div>
</div>

<div class="dmt-pane environment-pane">
  <div class="dmt-pane-title">
    Environment Information
  </div>
  <div class="pane-content">
    <sensor-data-chart></sensor-data-chart>
  </div>
</div>