<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li routerLinkActive="active">
        <a routerLink="/admin/dashboard" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/project" title="Project">
          <i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">{{'Project' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/zone" title="Zone">
          <i class="fa fa-lg fa-fw fa-th-large"></i> <span class="menu-item-parent">{{'Zone' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/camera" title="Camera">
          <i class="fa fa-lg fa-fw fa-camera"></i> <span class="menu-item-parent">{{'Camera' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/device" title="Device Management">
          <i class="fa fa-plug fa-fw fa-lg"></i> <span class="menu-item-parent">{{'Device Management' | i18n}}</span></a>
      </li>
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
