<div bsModal #okrRenameModal="bs-modal" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="okrRenameModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Rename OKR</h4>
      </div>
      <div class="modal-body">
        <form class="smart-form" #renameOKRForm="ngForm">
          <section *ngFor="let okr of okrList; let i = index">
            <div class="row">
              <label class="col col-4 label">
                Tab #{{ i + 1}}
              </label>
              <div class="col col-8">
                <label class="input">
                  <input [(ngModel)]="okr.name" name="okr_name_{{i}}" />
                </label>
              </div>
            </div>
          </section>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="okrRenameModal.hide()">
          Cancel
        </button>
        <button type="button" 
          class="btn btn-primary" (click)="save()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
