<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Zone']" icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <sa-datatable [options]="options" 
                  (setDatatableEle)="setDatatableEle($event)"
                  tableClass="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th [style.width]="'8%'" data-hide="mobile-p">Zone ID</th>
                            <th [style.width]="'8%'" data-hide="mobile-p">Name</th>
                            <th>Location</th>
                            <th data-class="expand">Project Name</th>
                            <th></th>
                        </tr>
                    </thead>
                </sa-datatable>
            </div>
        </div>
  </div>
</div>