.project-summary {
  background-color: #F5F3EB;
  height: 200px;
  padding: 25px;
}

.project-img, .project-info, .seperator {
  float: left;
}

.project-img {
  max-width: 200px;
  height: 100%;
}

.project-img img {
  max-height: 100%;
}

.project-info {
  margin-left: 25px;
  width: 25%;
}

.project-name {
  color: #006837;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 0px;
  width: 150px;
  display: inline-block;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.project-data {
  margin-top: 10px;
  margin-left: 10px;
}

.project-data .icon-wrap {
  display: inline-block;
  width: 16px;
}

.project-name,
.project-data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-data p {
  width: 200px;
}

.seperator {
  border-left: 2px dashed #ccc;
  height: 150px;
  margin: 0 0 0 50px;
}

.weather-chart {
  float: right;
  width: 45%;
}
