<summary class="project-summary">
  <div class="project-img">
    <a routerLink="/user/project/{{project.id}}">
      <img src="{{project.image}}" />
    </a>
  </div>
  <div class="project-info">
    <div class="project-title">
      <img class="weather-icon" src="{{project.weatherIcon}}" />
      <a routerLink="/user/project/{{project.id}}" class="project-name">
        {{project.name}}
      </a>
    </div>
    <div class="project-data">
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon location"></i>
        </span>
        Location: <span class="font-light">{{project.location}}</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon surface"></i>
        </span>
        Surface: <span class="font-light">{{project.surface}} ha</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon labour"></i>
        </span>
        Worker: <span class="font-light">{{project.labour}}</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon zone"></i>
        </span>
        Zone: <span class="font-light">{{project.zone}}</span>
      </p>
    </div>
  </div>
  <div class="seperator">
  </div>
  <div class="weather-chart">
    <div class="metrics">
      <div class="metric active">
        <div class="value">25</div>
        <div class="metric-label">Temp(°C)</div>
      </div>
      <div class="metric">
        <div class="value">88</div>
        <div class="metric-label">Humidity(%)</div>
      </div>
      <div class="metric">
        <div class="value">85</div>
        <div class="metric-label">Rain(%)</div>
      </div>
      <div class="metric">
        <div class="value">25</div>
        <div class="metric-label">Wind(km/h)</div>
      </div>
    </div>
    <div class="chart-wrapper">
      <x-chartist
        [data]="chart.data"
        [type]="chart.type"
        [options]="chart.options"
        [responsiveOptions]="chart.responsiveOptions"
        [events]="chart.events">
      </x-chartist>
    </div>
  </div>
</summary>