<summary class="project-summary">
  <div class="project-img">
    <img src="{{project.image}}" />
  </div>
  <div class="project-info">
    <div class="project-title">
      <img class="weather-icon" src="{{project.weatherIcon}}" />
      <label class="project-name">{{project.name}}</label>
    </div>
    <div class="project-data">
      <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Location: <span class="font-light">{{project.location}}</span>
      </p>
      <p>
        <i class="fa fa-crop" aria-hidden="true"></i>
        Surface: <span class="font-light">{{project.surface}} ha</span>
      </p>
      <p>
        <i class="fa fa-users" aria-hidden="true"></i>
        Worker: <span class="font-light">{{project.labour}}</span>
      </p>
      <p>
        <i class="fa fa-th" aria-hidden="true"></i>
        Zone: <span class="font-light">{{project.zone}}</span>
      </p>
    </div>
  </div>
  <div class="seperator">
  </div>
  <div class="weather-chart">
    <div class="metrics">
      <div class="metric active">
        <div class="value">25</div>
        <div class="metric-label">Temp(°C)</div>
      </div>
      <div class="metric">
        <div class="value">88</div>
        <div class="metric-label">Humidity(%)</div>
      </div>
      <div class="metric">
        <div class="value">85</div>
        <div class="metric-label">Rain(%)</div>
      </div>
      <div class="metric">
        <div class="value">25</div>
        <div class="metric-label">Wind(km/h)</div>
      </div>
    </div>
    <div class="chart-wrapper">
      <x-chartist
        [data]="chart.data"
        [type]="chart.type"
        [options]="chart.options"
        [responsiveOptions]="chart.responsiveOptions"
        [events]="chart.events">
      </x-chartist>
    </div>
  </div>
</summary>