<summary class="project-summary">
  <div class="project-img">
    <a routerLink="/user/project/{{project.id}}">
      <img src="{{project.image?.thumb?.url || 'assets/img/cau-dat/cau-dat-farm.png'}}" />
    </a>
  </div>
  <div class="project-info">
    <div class="project-title">
      <a routerLink="/user/project/{{project.id}}" class="project-name">
        {{project.name}}
      </a>
    </div>
    <div class="project-data">
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon location"></i>
        </span>
        Location: <span class="font-light">{{project.location}}</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon surface"></i>
        </span>
        Surface: <span class="font-light">{{project.surface}} ha</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon labour"></i>
        </span>
        Worker: <span class="font-light">{{project.labour}}</span>
      </p>
      <p>
        <span class="icon-wrap">
          <i class="demeter-icon zone"></i>
        </span>
        Zone: <span class="font-light">{{project.num_of_zone}}</span>
      </p>
    </div>
  </div>
  <div class="weather-forecast">
    <app-weather-forecast [project]="project"></app-weather-forecast>
  </div>
</summary>