.user-header {
  height: 60px;
  background-color: #40403D;
  color: #E6E6E6;
  display: flex;
  display: -webkit-flex;
}

.dmt-logo {
  height: 40px;
  width: 40px;
  align-self: center;
  margin-left: 15px;
}

.button-group-right {
  margin-left: auto;
  margin-right: 15px;
}

.icon-button {
  list-style: none;
  display: inline-block;
  padding: 19px 5px;
  font-size: 16px;
  color: #C0C0C0;
  cursor: pointer;
}

.icon-button:hover {
  color: #fff;
}

.brand {
  display: flex;
  display: -webkit-flex;

  .desktop-toogle {
    font-size: 22px;
    margin-right: 10px;
    align-self: center;
    margin-left: auto;
    color: #ccc;
  }

  .desktop-toogle:hover {
    color: #fff;
  }
}

.menu-header {
  transition: height 0.5s;
  -o-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -webkit-transition: height 0.5s;

  height: 0;
  overflow: hidden;
  background-color: #40403D;
  color: #E6E6E6;
  margin: 0 10px;
  margin-top: 50px;

  .menu-group {

    .menu-group-name {
      font-size: 15px;
      display: flex;
      display: -webkit-flex;
      margin-top: 10px;
    }
    img {
      width: 15px;
      align-self: center;
    }

    .text {
      align-self: center;
      margin-left: 5px;
      color: #fff;
    }
  }

  &.open {
    margin-top: 70px;
    height: 170px;
  }

  ul {
    list-style: none;
    margin-left: 15px;
    padding-left: 0;
  }

  .menu-list {
    margin-top: 10px;

    li {
      margin-bottom: 4px;
      cursor: pointer;

      a {
        color: #E6E6E6;
      }

      &:hover a {
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .desktop-toogle {
    display: none;
  }
  .mobile-toogle {
    display: inline;
  }


  /**
   * In the mobile view,
   * The header is not fixed anymore
   **/
  .menu-header {
    margin-top: 10px;

    &.open {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .desktop-toogle {
    display: inline;
  }
  .mobile-toogle {
    display: none;
  }
  .brand {
    width: 250px;
  }

  .user-header {
    position: fixed;
    top: 0;
  }
}