.add-picture-col {
  display: flex;
  .add-picture {
    margin-left: auto;
    width: 100px;
    height: 100px;
    background-color: rgb(223, 232, 205);
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: darken(rgb(223, 232, 205), 5%);
    }
    .fa-plus {
      flex: 1;
      align-self: center;
      text-align: center;
      color: #fff;
      font-size: 30px;
    }
  }
}

.upload-preview {
  background-size: cover;
}
