<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New customer information</h1>
    <p>
      Email: <%= @registration.email %>
    </p>
    <p>
      Address: <%= @registration.address %>
    </p>
    <p>
      Phone: <%= @registration.phone %>
    </p>
  </body>
</html>