.demeter-pane {
  display: flex;
  display: -webkit-flex;

  .zone-image {
    width: 150px;
  }

  .zone-info {
    flex: 1;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .demeter-pane {
    flex-direction: row-reverse;
    .detail-btn {
      display: none;
    }
    .zone-image {
      width: 110px;
      align-self: flex-end;
    }
    .zone-info {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}