.container {
  max-width: 1000px;
}

.user-header {
  height: 60px;
  background-color: #40403D;
  color: #E6E6E6;
}

.button-group-right {
  height: 60px;
  margin: 0;
  padding: 0;
}

.icon-button {
  list-style: none;
  display: inline-block;
  padding: 19px 5px;
  font-size: 16px;
  color: #C0C0C0;
  cursor: pointer;
}

.icon-button:hover {
  color: #fff;
}

/**
 * Project Summary
 **/

.project-summary .container {
  background-color: #F5F3EB;
  height: 200px;
  margin-top: 50px;
  padding: 25px;
}

.project-img, .project-info, .seperator {
  float: left;
}

.project-img {
  max-width: 200px;
  height: 100%;
}

.project-img img {
  max-height: 100%;
}

.project-info {
  margin-left: 25px;
}

.project-name {
  color: #006837;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 0px;
}

.weather-icon {
  width: 40px;
}

.project-data {
  margin-top: 10px;
  margin-left: 10px;
}

.seperator {
  border-left: 2px dashed #ccc;
  height: 150px;
  margin: 0 0 0 50px;
}

.weather-chart {
  float: right;
  width: 500px;
}

.weather-chart .metric { 
  width: 24%;
  padding: 0 1rem;
  display: inline-block;
}

.weather-chart .value,
.weather-chart .metric-label {
  text-transform: uppercase;
  text-align: center;
}

.weather-chart .value {
  font-size: 2rem;
}

.weather-chart .metric-label {
  font-size: 1rem;
}

.weather-chart .metric.active {
  color: #00a885;
}

.section-separator {
  border-top: 1px solid #ccc;
  margin: 30px -15px;
}

.main-container {
  padding: 0;
}

.sidebar .menu-group {
  background-color: #F5F3EB;
  margin-bottom: 5px;
}

.menu-group-title {
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0 15px 20px;
  font-size: 15px;
}

.menu-group-title.title-1 {
  background-color: #779362;
}

.menu-group-title.title-2 {
  background-color: #677561;
}

.menu-group-title.title-3 {
  background-color: #866D54;
}

.menu-group-title.title-4 {
  background-color: #DC9561;
}

.menu-group-title.title-5 {
  background-color: #B25D5D;
}

.menu-group-title.title-6 {
  background-color: #726964;
}

.menu-group ul {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.menu-group ul li {
  list-style: none;
}

.demeter-pane {
  background-color: #F5F3EB;
  padding: 25px;
  margin-bottom: 15px;
}
