<header class="user-header">
  <div class="container">
    <ul class="button-group-right pull-right">
      <li class="icon-button">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </li>
      <li class="icon-button">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
      </li>
      <li class="icon-button">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
      </li>
      <li class="icon-button">
        <i class="fa fa-user" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</header>

<summary class="project-summary">
  <div class="container">
    <div class="project-img">
      <img src="assets/img/cau-dat/cau-dat-farm.png" />
    </div>
    <div class="project-info">
      <div class="project-title">
        <img class="weather-icon" src="assets/img/cau-dat/weather.png" />
        <label class="project-name">CAUDATFARM</label>
      </div>
      <div class="project-data">
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <b>Location: </b>Dalat, Vietnam
        </p>
        <p>
          <i class="fa fa-crop" aria-hidden="true"></i>
          <b>Surface: </b>225 ha
        </p>
        <p>
          <i class="fa fa-users" aria-hidden="true"></i>
          <b>Worker: </b>200
        </p>
        <p>
          <i class="fa fa-th" aria-hidden="true"></i>
          <b>Zone: </b>3
        </p>
      </div>
    </div>
    <div class="seperator">
    </div>
    <div class="weather-chart">
      <x-chartist
        [data]="chart.data"
        [type]="chart.type"
        [options]="chart.options"
        [responsiveOptions]="chart.responsiveOptions"
        [events]="chart.events">
      </x-chartist>
    </div>
  </div>
</summary>
