<form class="smart-form">
  <header>Certificates</header>
  <fieldset>
    <section>
      <button class="demeter-btn create-btn primary pull-right">Add</button>
      <div class="certificates-container">
        <div class="image-content" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <img src="http://www.bdchronicle.com/records/news/201511/25827_1.jpg" />
          <div class="image-actions">
            <a>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="delete-action">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </fieldset>
</form>