<div class="animated fadeInDown" id="login">
    <div class="login-wrapper">
      <div class="login-form">
          <header>
            <h2>
                <div class="logo large"></div>
                <div class="content">
                    Sign In
                </div>
            </h2>
          </header>
          <form class="smart-form">
            <div class="ui segment">
              <section>
                <label class="input"> <i class="icon-prepend fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" 
                    data-message-required="Please enter your email address" 
                    placeholder="Email"
                    data-message-email="Please enter a VALID email address"
                    [(ngModel)]="user.email" name="email">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter email address/username</b></label>
              </section>
              <section>
                <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" 
                    placeholder="Password"
                    data-maxnlength="20" data-message="Please enter your email password"
                    [(ngModel)]="user.password" name="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                    your password</b> </label>
              </section>
              <section>
                <p><a routerLink="/auth/register">Register account</a></p>
                <p><a routerLink="/auth/forgot-password">Forgot password?</a></p>
              </section>
              <button (click)="login($event)" class="btn btn-sign-in">
                Sign in
              </button>
            </div>
          </form>
      </div>
    </div>
</div>
