<div class="content-header">
  <div class="demeter-title">Setting</div>
</div>

<div class="demeter-pane">

  <ul id="myTab1" class="nav nav-tabs bordered">
    <li [class.active]="state.tabs.activeTab == 0">
      <a (click)="state.tabs.activeTab = 0"><i class="fa fa-bars"></i> Details</a>
    </li>
    <li [class.active]="state.tabs.activeTab == 1">
      <a (click)="state.tabs.activeTab = 1"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Summary</a>
    </li>
    <li [class.active]="state.tabs.activeTab == 2">
      <a (click)="state.tabs.activeTab = 2"><i class="fa fa-camera"></i> Camera</a>
    </li>
    <li [class.active]="state.tabs.activeTab == 3">
      <a (click)="state.tabs.activeTab = 3"><i class="fa fa-gear"></i> Control</a>
    </li>
  </ul>

  <div class="demeter-pane-content">
    <tabset class="padding-10">
      <tab [active]="state.tabs.activeTab == 0">
        <zone-form [zone]="zone" [type]="'edit'"></zone-form>
      </tab>
      <tab [active]="state.tabs.activeTab == 1">
        <zone-setting-summary [zone]="zone"></zone-setting-summary>
      </tab>
      <tab [active]="state.tabs.activeTab == 2">
        <zone-setting-camera [zone]="zone"></zone-setting-camera>
      </tab>
    </tabset>
  </div>
</div>