<div class="content-header">
  <div class="demeter-title">Setting</div>
</div>

<div class="demeter-pane demeter-tabbed-pane">

  <ul class="nav nav-tabs bordered">
    <li [class.active]="activeTab == ''">
      <a (click)="goToTab('')">
        <i class="fa fa-bars"></i> Zone
      </a>
    </li>
    <li [class.active]="activeTab == 'member'">
      <a (click)="goToTab('member')">
        <i class="fa fa-user" aria-hidden="true"></i> Member
      </a>
    </li>
    <li [class.active]="activeTab == 'summary'">
      <a (click)="goToTab('summary')">
        <i class="fa fa-bookmark-o" aria-hidden="true"></i> Summary
      </a>
    </li>
    <li [class.active]="activeTab == 'camera'">
      <a (click)="goToTab('camera')">
        <i class="fa fa-camera"></i> Camera
      </a>
    </li>
    <li [class.active]="activeTab == 'environment'">
      <a (click)="goToTab('environment')">
        <i class="fa fa-leaf"></i> Environment
      </a>
    </li>
    <li [class.active]="activeTab == 'control'">
      <a (click)="goToTab('control')">
        <i class="fa fa-gear"></i> Control
      </a>
    </li>
  </ul>

  <div class="demeter-pane-content">
    <tabset class="padding-10">
      <div *ngIf="activeTab == ''">
        <zone-form [zone]="zone" [type]="'edit'"></zone-form>
      </div>
      <div *ngIf="activeTab == 'member'">
        <dmt-member type="zone"></dmt-member>
      </div>
      <div *ngIf="activeTab == 'summary'">
        <zone-setting-summary [zone]="zone" (onRefresh)="loadZone()"></zone-setting-summary>
      </div>
      <div *ngIf="activeTab == 'camera'">
        <zone-setting-camera [zone]="zone" (onRefresh)="loadZone()"></zone-setting-camera>
      </div>
      <div *ngIf="activeTab == 'environment'">
        <zone-setting-environment [zone]="zone" (onRefresh)="loadZone()"></zone-setting-environment>
      </div>
    </tabset>
  </div>
</div>