/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 /* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #00a885;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #00a885;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}

 /* Use this selector to override the line style on a given series */
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #CE594A;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: #CE594A;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}

/**
 * Override font
 **/
body {
  font-family: "San Francisco", "Open Sans",Arial,Helvetica,Sans-Serif;
}

/**
 * Override Smart Admin
 **/
.smart-form header {
  background: none;
  padding: 0;
}

.smart-form fieldset {
  background: none;
}

.login-info img {
  border-left: none;
}

.smart-form .irs-from, 
.smart-form .irs-single, 
.smart-form .irs-to {
  padding: 1px 5px;
}

.smart-form .select2-container-multi .select2-choices .select2-search-choice, 
.smart-form .select2-selection__choice {
  padding: 1px 28px 1px 8px;
  margin: 4px 0 3px 5px;
}

.smart-form .select2-container-multi .select2-choices, 
.smart-form .select2-selection--multiple {
  border-color: #BDBDBD;
}

.smart-form .select2-container .select2-choice, 
.smart-form .select2-selection {
  padding: 0 8px;
}

.smart-form .btn {
  padding: 6px 12px;
}

/**
 * Demeter style
 **/
.user-side {
  overflow: hidden;
}

.user-side .user-main {
  margin-top: 75px;
  min-height: calc( 100vh - 75px );
}

.user-side .user-main .container-fluid {
  padding-left: 0px;
}

.user-side .user-header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.user-side .sidebar {
  width: 250px;
  position: fixed;
  overflow-y: scroll;
  top: 60px;
  bottom: 0;

  left: -250px;
  transition: left 0.5s;
  -o-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
}

.user-side .sidebar.show {
  left: 0;
  display: block;
}


.user-side .user-content {
  padding-left: 270px;
  transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  -moz-transition: padding-left 0.5s;
  -webkit-transition: padding-left 0.5s;
}

.user-side.side-bar-open .user-content {
  padding-left: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  background: url('../img/cau-dat/logo.svg') center center no-repeat;
  background-size: contain;
}

.logo.large {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.demeter-btn {
  border: none;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.demeter-btn.form-control-size {
  height: 32px;
  padding: 5px 20px;
}

.demeter-btn.primary {
  background-color: #677563;
  color: #fff;
}

.demeter-btn.primary:hover {
  background-color: #525d4f;
}

.demeter-btn.secondary {
  background-color: #95a5a6;
  color: #fff;
}

.demeter-btn.secondary:hover {
  background-color: #7f8c8d;
}

.demeter-btn.danger {
  background-color: #E27270;
  color: #fff;
}

.demeter-btn.danger:hover {
  background-color: #c15553;
}

.demeter-btn.create-btn {
  background-color: #377869;
  color: #fff;
  position: relative;
  padding-right: 30px;
}

.demeter-btn.create-btn:hover {
  background-color: #256153;
}

.demeter-btn.create-btn:after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../img/cau-dat/icon/plus.png) no-repeat 0 0;
  top: 12px;
  right: 11px;
  position: absolute;
  display: inline-block;
  background-size: cover;
}

.demeter-btn.detail-btn {
  width: 100%;
  margin-top: 10px;
}

.demeter-title {
  color: #006837;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 4px;
}

.zone-status-group {
  position: relative;
}

.zone-status-group .status-percent {
  color: #255A4A;
  position: absolute;
  font-size: 15px;
  right: 0;
  top: -22px;
}
    
.zone-status-group .green-bar-wrapper {
  height: 8px;
  border: 1px solid #A2A19D;
}

.zone-status-group .green-bar-wrapper .green-bar {
  height: 6px;
  background-color: #98C75F;
}

.date-time-wrapper {
  margin-top: 5px;
}

.date-time-wrapper p {
  margin-bottom: 0;
}

.date-time-wrapper .end-date {
  text-align: right;
}

.date-time-wrapper .date-label {
  font-weight: 200;
}

.line-info {
  margin-top: 10px;
}

.line-info p {
  margin-bottom: 4px;
}

/**
 * Page Content
 **/

.content-header .demeter-btn {
  margin-top: -38px;
}

.demeter-container {
  background-color: #F5F3EB;
  padding: 25px;
}

.demeter-pane {
  background-color: #F5F3EB;
  padding: 25px;
  margin-bottom: 15px;
}

.demeter-container-title {
  height: 100px;
  background-color: #40403D;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-top: 35px;
  padding-left: 40px;
}

.demeter-list-container {
  background-color: #DFDFDF;
  padding: 40px;
}

.demeter-panel-dark .panel-title {
  height: 50px;
  background-color: #40403D;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 12px;
  padding-left: 20px;
}

.demeter-panel-dark .demeter-pane {
  padding: 20px;
}

/**
 * Utilities.
 **/
.font-light {
  font-weight: 200;
}

.req-field {
  color: #b94a48;
}

.section-separator {
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

.control-label {
  text-align: left;
}

.demeter-icon {
  display: inline-block;
  background-size: cover;
}

.demeter-icon.location {
  width: 10px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/location.png);
}

.demeter-icon.surface {
  width: 13px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/surface.png);
}

.demeter-icon.labour {
  width: 13px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/worker.png);
}

.demeter-icon.zone {
  width: 16px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/zone.png);
}


.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.spinner-wrapper {
  position: relative;
}

/*
 * Charting.
 */
.chart-wrapper {
  height: 140px;
}

.weather-chart .metric { 
  width: 24%;
  padding: 0 1rem;
  display: inline-block;
}

.weather-chart .value,
.weather-chart .metric-label {
  text-transform: uppercase;
  text-align: center;
}

.weather-chart .value {
  font-size: 2rem;
}

.weather-chart .metric-label {
  font-size: 1rem;
}

.weather-chart .metric.active {
  color: #00a885;
}

/*
 * Camera
 */
.camera-item {
  margin-bottom: 25px;
}

.camera-pic-holder {
  background-color:#E2E1DD;
}

.camera-name {
  margin-top: 10px;
  font-size: 15px;
}

/*
 * Upload
 */
.upload-plus-icon {
  background: transparent url(../img/cau-dat/icon/plus-grey.png) no-repeat 0 0;
  background-size: contain;
}

/*
 * Admin side
 */
.admin-side #logo img {
  height: 26px;
}

.demeter-table .col-actions {
  text-align: right;
  width: 50px;
}

.demeter-table .col-actions a {
  padding: 0 5px;
}

.demeter-table .delete-action {
  color: #a90329;
}

.demeter-table .delete-action:hover {
  color: #900323;
}

.popover {
  z-index: 1089;
}

/*
 * Custom scroll
 */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #555;
}