/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 /* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #00a885;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #00a885;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}

 /* Use this selector to override the line style on a given series */
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #CE594A;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: #CE594A;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}

/**
 * Override font
 **/
body {
  font-family: "San Francisco", "Open Sans",Arial,Helvetica,Sans-Serif;
}

/**
 * Demeter style
 **/
.user-side .container {
  max-width: 1000px;
}

.user-side .user-main {
  margin-top: 50px;
}

.demeter-btn {
  border: none;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.demeter-btn.primary {
  background-color: #677563;
  color: #fff;
}

.demeter-btn.primary:hover {
  background-color: #525d4f;
}

.demeter-btn.danger {
  background-color: #E27270;
  color: #fff;
}

.demeter-btn.danger:hover {
  background-color: #c15553;
}

.demeter-btn.create-btn {
  background-color: #377869;
  color: #fff;
  position: relative;
  padding-right: 30px;
}

.demeter-btn.create-btn:hover {
  background-color: #256153;
}

.demeter-btn.create-btn:after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../img/cau-dat/icon/plus.png) no-repeat 0 0;
  top: 12px;
  right: 11px;
  position: absolute;
  display: inline-block;
  background-size: cover;
}

.demeter-btn.detail-btn {
  width: 100%;
  margin-top: 10px;
}

.demeter-pane {
  background-color: #F5F3EB;
  padding: 25px;
  margin-bottom: 15px;
}

.demeter-title {
  color: #006837;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 4px;
}

.zone-status-group {
  position: relative;
}

.zone-status-group .status-percent {
  color: #255A4A;
  position: absolute;
  font-size: 15px;
  right: 0;
  top: -22px;
}
    
.zone-status-group .green-bar-wrapper {
  height: 8px;
  border: 1px solid #A2A19D;
}

.zone-status-group .green-bar-wrapper .green-bar {
  height: 6px;
  background-color: #98C75F;
}

.date-time-wrapper {
  margin-top: 5px;
}

.date-time-wrapper p {
  margin-bottom: 0;
}

.date-time-wrapper .end-date {
  text-align: right;
}

.date-time-wrapper .date-label {
  font-weight: 200;
}

.line-info {
  margin-top: 10px;
}

.line-info p {
  margin-bottom: 4px;
}

/**
 * Page Content
 **/
.content-header {
  padding: 15px 0;
}

.content-header .demeter-btn {
  margin-top: -38px;
}

.demeter-container {
  background-color: #F5F3EB;
  padding: 25px;
}

.demeter-container-title {
  height: 100px;
  background-color: #40403D;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-top: 35px;
  padding-left: 40px;
}

.demeter-list-container {
  background-color: #DFDFDF;
  padding: 40px;
}


/**
 * Utilities.
 **/
.font-light {
  font-weight: 200;
}

.req-field {
  color: #b94a48;
}

.section-separator {
  border-top: 1px solid #ccc;
  margin: 30px -15px;
}

.control-label {
  text-align: left;
}

.demeter-icon {
  display: inline-block;
  background-size: cover;
}

.demeter-icon.location {
  width: 10px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/location.png);
}

.demeter-icon.surface {
  width: 13px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/surface.png);
}

.demeter-icon.labour {
  width: 13px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/worker.png);
}

.demeter-icon.zone {
  width: 16px;
  height: 16px;
  background-image: url(../img/cau-dat/icon/zone.png);
}