/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 /* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #00a885;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #00a885;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}

 /* Use this selector to override the line style on a given series */
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #CE594A;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: #CE594A;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}