<form class="smart-form">
  <header>Weather Forecast</header>

  <fieldset>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Display Weather Forecast</label>
        </div>
        <div class="col col-6">
          <label class="checkbox">
            <input type="checkbox" name="showWeatherForecast"
              [(ngModel)]="setting.showWeatherForecast">
            <i></i>&nbsp;
          </label>
        </div>
      </div>
    </section>
  </fieldset>

  <header>Zone Environment Information</header>
  <fieldset>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Display Environment Information</label>
        </div>
        <div class="col col-6">
          <label class="checkbox">
            <input type="checkbox" name="showEnvironmentInformation"
              [(ngModel)]="setting.showEnvironmentInformation">
            <i></i>&nbsp;
          </label>
        </div>
      </div>
    </section>
    <section class="table-section">
      <label>List of Inputs</label>
      <button 
        class="demeter-btn create-btn primary pull-right"
        (click)="deviceFieldSelectModal.show()">Add</button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Display Name</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let input of zone.device_fields" class="demeter-pane">
            <td>{{input.name_display}}</td>
            <td>{{input.name}}</td>
            <td class="col-actions">
              <a class="delete-action" (click)="unAssignDeviceField(input)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </fieldset>

  <header>Recent Notifications</header>
  <fieldset>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Display Recent Notifications</label>
        </div>
        <div class="col col-6">
          <label class="checkbox">
            <input type="checkbox" name="showRecentNotification"
              [(ngModel)]="setting.showRecentNotification">
            <i></i>&nbsp;
          </label>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Number of Notifications</label>
        </div>
        <div class="col col-6">
          <label class="input">
            <input type="number">
          </label>
        </div>
      </div>
    </section>
  </fieldset>

  <header>Upcoming Task</header>
  <fieldset>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Display Upcoming Task</label>
        </div>
        <div class="col col-6">
          <label class="checkbox">
            <input type="checkbox" name="showUpcomingTask"
              [(ngModel)]="setting.showUpcomingTask">
            <i></i>&nbsp;
          </label>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Number of Task</label>
        </div>
        <div class="col col-6">
          <label class="input">
            <input type="number">
          </label>
        </div>
      </div>
    </section>
  </fieldset>

  <header>Quick View Camera</header>
  <fieldset>
    <section>
      <div class="row">
        <div class="col col-6">
          <label class="label">Display Quick View Camera</label>
        </div>
        <div class="col col-6">
          <label class="checkbox">
            <input type="checkbox" name="showCamera"
              [(ngModel)]="setting.showCamera">
            <i></i>&nbsp;
          </label>
        </div>
      </div>
    </section>
    <section class="table-section">
      <label>List of Quick View Cameras</label>
      <button 
        class="demeter-btn create-btn primary pull-right" (click)="cameraSelectModal.show()">Add</button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-id">No.</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camera of cameras" class="demeter-pane">
            <td>{{camera.no}}</td>
            <td>{{camera.name}}</td>
            <td class="col-actions">
              <a class="delete-action" (click)="unAssignQuickViewCamera(camera)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </fieldset>

  <div class="button-group-wrap">
    <div class="pull-right">
      <button 
        (click)="updateSetting()"
        class="demeter-btn primary" type="submit">
        Update
      </button>
    </div>
  </div>
</form>

<camera-select-modal #cameraSelectModal mode="assign_quick_view" (onResolve)="reloadZone()"></camera-select-modal>
<device-field-select-modal #deviceFieldSelectModal (onResolve)="reloadZone()"></device-field-select-modal>