$danger-color: #e51400;
.dmt-form {
  margin: 30px 30px 0 30px;

  @media only screen and (max-width: 758px) {
    margin: 30px 0 0 0;
  }

  // Padding to align nicely with device control mode
  padding: 0 7%;
}

.event {
  display: flex;
  flex-direction: column;
  .condition {
    display: flex;

    > *:not(:first-child) {
      margin-left: 15px;
    }
  }
  .lower-form-control,
  .upper-form-control {
    width: 50px;
    text-align: right;
    &.form-control {
      padding: 6px 8px;
    }
  }

  .sensor-form-control {
    flex: 1;
  }
  .second-line {
    margin-top: 5px;
    .lower-form-control,
    .upper-form-control {
      text-align: center;

      button {
        min-width: 48px;
        padding: 5px;
      }
    }
  }
  &:not(:first-child) {
    margin-top: 15px;
  }
  &:hover {
    .remove-btn {
      display: block;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      &:hover {
        color: $danger-color;
      }
    }
  }
  .remove-btn {
    display: none;
  }
}

.add-btn-wrap {
  text-align: center;
  margin-top: 15px;
  .add-btn {
    text-transform: uppercase;
    width: 65px;
  }
}
