<div class="dmt-form">
  <div
    class="event"
    *ngFor="let event of device.events">
    <div class="condition first-line">
      <input
        class="form-control lower-form-control"
        placeholder="Lower"
        [(ngModel)]="event.lower_limit" />
      <img
        class="greater-icon"
        src="assets/img/demeter/icon/greater.png" alt="greater_icon">
      <select
        class="form-control sensor-form-control"
        [(ngModel)]="event.sensor_id">
        <option disabled value="">Sensor</option>
        <option
          *ngFor="let sensor of sensors"
         [value]="sensor.uuid">{{sensor.name}}</option>
      </select>
      <img
        class="greater-icon"
        src="assets/img/demeter/icon/greater.png" alt="greater_icon">
      <input
        class="form-control upper-form-control"
        placeholder="Higher"
        [(ngModel)]="event.upper_limit" />
    </div>
    <div class="condition second-line">
      <div class="lower-form-control">
        <button class="dmt-btn btn-primary"
          (click)="toggleValue(event, 'lower_limit_value')">
          {{ event.lower_limit_value === 1 ? 'Off': 'On' }}
        </button>
      </div>
      <div class="sensor-form-control">
        <div class="delete-action-wrap">
          <div 
            class="delete-btn"
            (click)="remove(event)"
            >x</div>
        </div>
      </div>
      <div class="upper-form-control">
        <button class="dmt-btn btn-primary"
          (click)="toggleValue(event, 'upper_limit_value')">
          {{ event.upper_limit_value === 1 ? 'Off': 'On' }}
        </button>
      </div>
    </div>
  </div>
  <div
    class="div btn-wrap">
    <button
      (click)="updateDevice()"
      *ngIf="device.events.length > 0"
      class="dmt-btn btn-primary">Save</button>
    <button
      (click)="addEvent()"
      *ngIf="device.events.length < 5"
      class="dmt-btn btn-primary">Add</button>
  </div>
</div>