<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div  class="well">
                <h1>SmartAdmin Angular 3 <i>lite</i></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos doloremque eaque eum modi, quia reprehenderit unde voluptatem.</p>
                <video width="352" height="198" controls id="myVideo">
                    <source src="http://04c2.vp9.tv:2229/chn/DMT11/v.m3u8" type="application/x-mpegURL">
                </video>

                <h2 id="live">Live</h2>
 
                <div id="hlsjslive" class="fp-slim"></div>
                
                <div class="info">
                <p>player engine: <span id="engine1"></span></p>
                
                <p>video type: <span id="vtype1"></span></p>
                
                <p id="detail1">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>