.col-id {
  width: 40px;
}

.col-actions {
  text-align: right;
  width: 50px;
}

.col-actions a {
  padding: 0 5px;
}

.delete-action {
  color: #a90329;
}

.delete-action:hover {
  color: #900323;
}

.button-group-wrap {
  height: 35px;
}

.create-btn {
  position: absolute;
  right: 0;
  top: -66px;
}
