<form #form="ngForm">

  <div class="rule-name-group">
    <div class="rule-name"
      [ngClass]="name.valid || name.pristine ? '' : 'error'">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <input placeholder="Rule Name..." 
        #name="ngModel"
        [disabled]="!canEdit"
        [(ngModel)]="alertRule.name" name="name" required />
    </div>
    <div class="note note-error rule-name-error" 
      [hidden]="name.valid || name.pristine">This is a required field.
    </div>
  </div>

  <effective-period 
    #effectivePeriodComponent
    [fromTime]="alertRule.from_time"
    [toTime]="alertRule.to_time"></effective-period>

  <header class="dmt-header">Scheduler</header>

  <div class="cron-group">
    <div class="cron"></div>
  </div>
  

  <header class="dmt-header">Rule</header>

  <div class="rule-builder smart-form">
    <div class="source-form-group">
      <label class="form-label">Source</label>
      <label class="select">
        <select [(ngModel)]="alertRule.device_field" name="device_field_id" required>
          <option *ngFor="let device of devices" [ngValue]="device">{{device.name}}</option>
        </select><i></i>
      </label>
    </div>
    <div class="condition-form-group">
      <label>Condition</label>
      <label class="select">
        <select [(ngModel)]="alertRule.condition" name="condition" required>
          <option value="eq">equal</option>
          <option value="gt">greater</option>
          <option value="gteq">greater or equal</option>
          <option value="lt">less</option>
          <option value="lteq">less or equal</option>
        </select><i></i>
      </label>
    </div>
    <div class="value-form-group">
      <label>Value</label>
      <label class="input">
        <input [(ngModel)]="alertRule.value" name="value" type="number" required />
      </label>
    </div>
  </div>

  <header class="dmt-header" *ngIf="alertRule.device_field">
    Chart Option
  </header>

  <div class="chart-option smart-form"  *ngIf="alertRule.device_field">
    <label class="checkbox">
      Apply rule to <strong>{{alertRule.device_field.name}}</strong> live-chart
      <input type="checkbox" name="live_chart_rule"
        [(ngModel)]="alertRule.live_chart_rule">
      <i></i>&nbsp;
    </label>
  </div>

  <header class="dmt-header">
    Triggers
  </header>

  <div class="trigger-group">
    <div class="smart-form">
      <label class="checkbox state-disabled">
        Web
        <input type="checkbox" name="trigger_email" checked disabled>
        <i></i>&nbsp;
      </label>

      <div class="trigger-item"
        [ngClass]="alertRule.trigger_email ? 'open' : ''">
        <label class="checkbox">
          Email
          <input type="checkbox" name="trigger_email"
            [(ngModel)]="alertRule.trigger_email">
          <i></i>&nbsp;
        </label>

        <div *ngIf="alertRule.trigger_email"
          class="email-form">
          <label class="textarea">
            <textarea [(ngModel)]="alertRule.trigger_emails" name="trigger_emails" rows="3"></textarea>
          </label>
          <div class="note">Emails should be seperated by <code>;</code>
          </div>
        </div>
      </div>

      <label class="checkbox">
        Message
        <input type="checkbox" name="trigger_message"
          [(ngModel)]="alertRule.trigger_message">
        <i></i>&nbsp;
      </label>

      <label class="checkbox">
        Call
        <input type="checkbox" name="trigger_call"
          [(ngModel)]="alertRule.trigger_call">
        <i></i>&nbsp;
      </label>
    </div>
  </div>

  <div class="button-group">
    <div class="button-group-right">
      <button 
        *ngIf="type != 'edit' && canEdit"
        [disabled]="!form.valid"
        (click)="create()"
        [ngClass]="form.valid ? '' : 'disabled'"
        class="demeter-btn create-btn" type="submit">
        Create
      </button>

      <button 
        *ngIf="type == 'edit' && canEdit"
        [disabled]="!form.valid"
        (click)="update()"
        [ngClass]="form.valid ? '' : 'disabled'"
        class="demeter-btn primary" type="submit">
        Update
      </button>
      <button class="demeter-btn danger"
        routerLink="../">
        Cancel
      </button>
    </div>
  </div>

</form>