$main-color: #318b50;
.camera-item {
  margin-bottom: 15px;

  .camera-name {
    background-color: $main-color;
    padding: 5px 10px;
    color: #fff;
    display: flex;
    height: 35px;
    align-items: center;
  }

  .actions {
    margin-left: auto;
    display: flex;
  }

  .edit-btn,
  .remove-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      height: 15px;
      margin-left: 15px;
    }
  }

}

.add-camera {
  display: flex;
  .add-camera-btn {
    margin-left: auto;
  }
}