<div class="camera-item"
  *ngFor="let camera of cameras">

  <app-camera
    [camera]="camera" [live]="false"></app-camera>
  <div class="camera-name">
    <span>{{camera.name}}</span>
    <span class="actions">
      <span class="edit-btn"
        (click)="editCamera(camera)">
        <img src="assets/img/demeter/icon/EDIT.png" />
      </span>
      <span class="remove-btn"
        (click)="remove(camera)">
        <img src="assets/img/demeter/icon/TRASH.png" />
      </span>
    </span>
  </div>
</div>

<div class="add-camera">
  <button
    (click)="addCamera()"
    *ngIf="cameras.length < 5"
    class="add-camera-btn dmt-btn btn-primary">Add Camera</button>
</div>

<camera-modal #cameraModal></camera-modal>