.document-container {
  display: flex;
  flex-wrap: wrap;

  .document-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 15px;

    .document-icon {
      align-self: center;
      width: 100px;
    }
  
    .document-name {
      align-self: center;
      margin-top: 8px;
    }
  }
}