$brand-color: rgb(49, 139, 80);
$background-color: rgb(80, 182, 88);
.setting-menu {
  position: fixed;
  right: 0;
  top: 45px;
  height: calc(100vh - 95px);
  width: 200px;
  background-color: $background-color;
  z-index: 100;
  padding-top: 20px;

  .item {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    align-items: center;
    &:hover {
      background-color: $brand-color;
    }
    img {
      width: 25px;
      height: 25px;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}