<div class="setting-menu" *ngIf="isShowSetting">
  <div class="item">
    <img src="assets/img/demeter/icon/SHOP.png" alt="shopping cart">
    <span>Shopping</span>
  </div>
  <div class="item">
    <img src="assets/img/demeter/icon/D-PAY.png" alt="demeter pay">
    <span>D-Pay</span>
  </div>
  <div class="divider"></div>
  <div class="item">
    <img src="assets/img/demeter/icon/ACC_SET.png" alt="account setting">
    <span>Settings</span>
  </div>
  <a class="item" routerLink="/{{user.username}}/about">
    <img src="assets/img/demeter/icon/ABOUT.png" alt="about">
    <span>About</span>
  </a>
  <div class="divider"></div>
  <div class="item" (click)="signOut()">
    <img src="assets/img/demeter/icon/LOGOUT.png" alt="log out">
    <span>Log out</span>
  </div>
</div>
