$brand-color: rgb(49, 139, 80);
.tab-wrapper {
  display: flex;

  .device-tab {
    flex: 1 0;
    background-color: $brand-color;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
    &:not(:first-child) {
      margin-left: 3px;
    }
    &.active {
      color: $brand-color;
      background-color: #fff;
      cursor: initial;
    }
  }
}

.selected-device {
  // 58px = 28px (tab) + 30px (margin-top)
  min-height: calc(100% - 58px);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  .header {
    margin: 0 30px 0 30px;
  }

  .control-label {
    text-align: left;
    margin-right: 15px;
  }

  .form-group {
    display: flex;
  }

  .name-form-group {
    flex: 1;
  }

  .save-btn {
    margin-top: auto;
    width: 150px;
    align-self: center;
    color: #fff;
    background-color: $brand-color;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }
  .control-container {
    margin-bottom: 15px;
  }
}

.mode-selection {
  display: flex;
  height: 55px;
  color: rgb(134, 134, 134);
  .dmt-radio {
    flex: 1 0;
    text-align: center;
    padding: 0;
    font-weight: 500;
    
    &.active {
      color: $brand-color;
    }

    i {
      top: 25px;
      left: 50%;
      margin-left: -13px;
      width: 26px;
      height: 26px;
      &:after {
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.mode-detail.manual-model {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .device-spinner {
    margin-top: 20px;
    position: relative;
  }
}

/*
 * Radio input copied from smartadmin theme
 */
.dmt-radio {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 13px;
  padding-left: 25px;
  line-height: 25px;

  &:hover i {
    border-color: $brand-color;
  }

  input {
    position: absolute;
    left: -9999px;
    &:checked+i {
      border-color: $brand-color;
    }
    &:checked+i:after {
      opacity: 1;
    }
  }

  i {
    border-color: #BDBDBD;
    border-radius: 50%;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;

    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF;

    &:after {
      opacity: 0;
      background-color: $brand-color;
      content: '';
      top: 3px;
      left: 3px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      position: absolute;
    }
  }
}
