<div class="tab-wrapper">
  <div class="device-tab"
    [ngClass]="selectedDevice.uuid == device.uuid ? 'active' : ''"
    (click)="selectedDevice = device"
    *ngFor="let device of devices">
    {{ device.name }}
  </div>
</div>

<div class="selected-device">
  <div class="header">
    <div class="form-horizontal dmt-form">
      <div class="form-group">
        <div class="control-label">
            Name
        </div>
        <div class="name-form-group">
          <input
            class="form-control"
            [(ngModel)]="selectedDevice.name" />
        </div>
      </div>
    </div>
  
    <div class="mode-selection">
      <label class="dmt-radio"
        [ngClass]="selectedDevice.mode == 'manual' ? 'active': ''">
        <input
          [(ngModel)]="selectedDevice.mode"
          type="radio"
          value="manual"
          name="mode" />
        <i></i> Manual
      </label>
    
      <label class="dmt-radio"
        [ngClass]="selectedDevice.mode == 'timer' ? 'active': ''">
        <input 
        [(ngModel)]="selectedDevice.mode"
        type="radio"
        value="timer"
        name="mode"/>
        <i></i> Timer
      </label>
    
      <label class="dmt-radio"
      [ngClass]="selectedDevice.mode == 'event' ? 'active': ''">
        <input
          [(ngModel)]="selectedDevice.mode"
          type="radio"
          value="event"
          name="mode"/>
        <i></i> Event
      </label>
    </div>
  </div>
  <div class="mode-detail manual-model" *ngIf="selectedDevice.mode == 'manual'">
    <div class="toggle">
      <label class="dmt-toggle"
        (click)="changeValue($event, selectedDevice)"
        [class.state-disabled]="isDeviceUpdating">
        <input type="checkbox"
          [ngModel]="selectedDevice.value"
          [disabled]="isDeviceUpdating">
        <i data-swchoff-text="OFF" data-swchon-text="ON"></i>
      </label>
    </div>
    <div class="device-spinner">
      <app-spinner [isRunning]="isDeviceUpdating"></app-spinner>
    </div>
  </div>

  <control-timer
    class="control-container"
    [device]="selectedDevice"
    *ngIf="selectedDevice.mode == 'timer'"></control-timer>
  <control-event
    class="control-container"
    [device]="selectedDevice"
    [sensors]="sensors"
    *ngIf="selectedDevice.mode == 'event'"></control-event>
</div>