.btn-group {
  margin-top: -20px;
}

.device-control-form {
  margin-top: 20px;
  margin: 20px 30px 0;
}

.device-control {
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  max-width: 500px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  > section {
    align-self: stretch;
    display: flex;
    align-items:center;
  }

  .device-name {
    min-width: 100px;
    text-transform: uppercase;
    font-size: 2em;
    flex: 1;

    .delete-action {
      display: none;
      font-size: 15px;
      margin-left: 10px;
      color: #a90329;
    }

    &:hover .delete-action {
      display: inline;
      color: #900323;
    }
  }
}

.device-control-toggle {
  height: 34px;
  width: 140px;
}

.smart-form .toggle i {
  width: 65px;
  height: 25px;
  right: inherit;

  &:after {
    font-size: 15px;
    top: 7px;
  }

  &:before {
    top: 8px;
    right: 8px;
  }
}

.smart-form .toggle input:checked+i:before {
  right: 42px;
}

.device-control-form section {
  margin-bottom: 0;
  border-right: 1px solid #ddd;
  margin-right: 10px;
  padding-right: 10px;

  &:last-child {
    border-right: none;
  }
}

.spinner-wrapper {
  position: relative;
  height: 34px;
  width: 98px;
  float: right;
}