.btn-group {
  margin-top: -20px;
}

.device-control-form {
  margin: 20px 30px 0;
}

.device-control {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  max-width: 600px;

  .control-section {
    display: flex;
    min-height: 50px;

    > section {
      align-self: stretch;
      display: flex;
      align-items:center;
    }
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .device-name {
    min-width: 100px;
    text-transform: uppercase;
    font-size: 2em;
    flex: 1;

    .text {
      width: calc(100% - 15px);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .delete-action {
      display: none;
      font-size: 15px;
      margin-left: 10px;
      color: #a90329;
    }

    &:hover .delete-action {
      display: inline;
      color: #900323;
    }
  }

  .chart-section {
    margin-top: 10px;
  }

  .chart-loading-section {
    min-height: 100px;
    position: relative;
  }
}

.device-control-toggle {
  height: 34px;
  width: 140px;
}

.smart-form .toggle i {
  width: 65px;
  height: 25px;
  right: inherit;

  &:after {
    font-size: 15px;
    top: 7px;
  }

  &:before {
    top: 8px;
    right: 8px;
  }
}

.smart-form .toggle input:checked+i:before {
  right: 42px;
}

.device-control-form section {
  margin-bottom: 0;
  border-right: 1px solid #ddd;
  margin-right: 10px;
  padding-right: 10px;

  &:last-child {
    border-right: none;
  }
}

.spinner-wrapper {
  position: relative;
  height: 34px;
  width: 98px;
  float: right;
}

.toggle-btn {
  cursor: pointer;

  &:hover {
    color: #333;
  }
}

.alert-no-item {
  display: block;
  margin: 10px 30px;
}