.content-header {
  margin-top: 20px;
}

.brands-list-container {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  .brand-card {
    display: flex;
    flex-basis: 32%;
    min-height: 250px;
    background: #FFF;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;

    .brand-logo {
      width: 100%;
      height: 200px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .brand-qr-code {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70px;
        height: 70px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .brand-name {
      color: #006837;
      font-size: 20px;
      font-weight: bold;
    }

    .brand-code {
      font-weight: bold;
    }

    
  }

  .add-new-brand {
    display: flex;
    flex-basis: 32%;
    min-height: 250px;
    background: #FFF;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;

    .upload-plus-icon {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      display: block;
    }
  }
}