<!-- <h1>List of brand shown here</h1>

<button class="demeter-btn create-btn"
    (click)="goToCreate()"
    translate>
    create_brand
</button> -->
<div class="content-header">
    <div class="demeter-title">Brand List</div>
</div>
<div class="brands-list-container">
    <div class="brand-card" (click)="goToDetail('abc')">
        <div class="brand-logo">
            <img src="http://www.bdchronicle.com/records/news/201511/25827_1.jpg" />
            <div class="brand-qr-code">
                <img src="https://www.qrstuff.com/images/sample.png" />
            </div>
        </div>
        <span class="brand-name">Branch Name</span>
        <span class="brand-code">Code000001</span>
    </div>
    <div class="brand-card">
        <div class="brand-logo">
            <img src="http://www.bdchronicle.com/records/news/201511/25827_1.jpg" />
            <div class="brand-qr-code">
                <img src="https://www.qrstuff.com/images/sample.png" />
            </div>
        </div>
        <span class="brand-name">Branch Name</span>
        <span class="brand-code">Code000001</span>
    </div>
    <div class="brand-card">
        <div class="brand-logo">
            <img src="http://www.bdchronicle.com/records/news/201511/25827_1.jpg" />
            <div class="brand-qr-code">
                <img src="https://www.qrstuff.com/images/sample.png" />
            </div>
        </div>
        <span class="brand-name">Branch Name</span>
        <span class="brand-code">Code000001</span>
    </div>
    <div class="brand-card">
        <div class="brand-logo">
            <img src="http://www.bdchronicle.com/records/news/201511/25827_1.jpg" />
            <div class="brand-qr-code">
                <img src="https://www.qrstuff.com/images/sample.png" />
            </div>
        </div>
        <span class="brand-name">Branch Name</span>
        <span class="brand-code">Code000001</span>
    </div>
    <div class="add-new-brand" (click)="goToCreate()">
        <div class="upload-plus-icon"></div>
    </div>
</div>