<div class="animated fadeInDown" class="auth-container">
    <div class="auth-wrapper">
      <div class="main-content">
          <header>
            <h2>
                <div class="logo large"></div>
                <div class="header">
                    Register
                </div>
            </h2>
          </header>

          <form class="smart-form" #registerForm="ngForm">
            <div class="ui segment">
              <section>
                <label class="input"
                  [ngClass]="submitClicked && register_email.errors ? 'state-error' : ''">
                  <i class="icon-prepend fa fa-user"></i>
                  <input type="email"
                    name="register_email"
                    placeholder="Email"
                    #register_email="ngModel"
                    [(ngModel)]="register.email"
                    required
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </label>
                <div class="note note-error" [hidden]="!(submitClicked && register_email.errors?.required)">Please enter your email address.</div>
                <div class="note note-error" [hidden]="!(submitClicked && register_email.errors?.pattern)">Please enter a VALID email address.</div>
              </section>
              <section>
                <label class="input"> <i class="icon-prepend fa fa-map-marker"></i>
                  <input type="text" name="address" 
                    placeholder="Address"
                    [(ngModel)]="register.address" name="address">
                </label>
              </section>
              <section>
                <label class="input"> <i class="icon-prepend fa fa-phone"></i>
                  <input type="text" name="phone" 
                    placeholder="Phone"
                    [(ngModel)]="register.phone" name="phone">
                </label>
              </section>
              <section>
                <p><a routerLink="/auth/login">Login</a></p>
                <p><a routerLink="/auth/forgot-password">Forgot password?</a></p>
              </section>
              <button (click)="startRegister($event)" class="btn main-action-btn" [disabled]="formSubmitted">
                Register
              </button>
            </div>
          </form>
      </div>
    </div>
</div>
