<div class="container no-padding">
  <app-zone-summary-pane></app-zone-summary-pane>
</div>

<div class="container">
  <div class="section-separator"></div>
</div>

<div class="container no-padding">
  <div class="row">
    <demeter-user-sidebar></demeter-user-sidebar>

    <div class="page-content col-md-8">
      <div class="content-header">
        <div class="demeter-title">Camera Playback</div>
      </div>

      <div class="demeter-pane">
        <div class="camera-item">
          <app-camera src="{{camera.source}}"></app-camera>
          <p class="camera-name">{{camera.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
