@import './_variables';
.dmt-pane {
  background-color: $pane-color;

  .dmt-pane-title {
    background-color: $secondary-color;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  .pane-content {
    padding: 15px;
  }
}

.dmt-form {
  .form-control {
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(223, 232, 205);
  }
  .dmt-button {
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    &.btn-primary {
      background-color: $brand-color;
      &:hover {
        background-color: darken($brand-color, 5%);
      }
    }
  }
}

.dmt-btn {
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  &.btn-primary {
    background-color: $brand-color;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }
  &.btn-cancel {
    background-color: #999;
    color: #fff;
    &:hover {
      background-color: darken(#999, 5%);
    }
  }
}