@import './_variables';
.dmt-pane {
  background-color: $pane-color;

  .dmt-pane-title {
    background-color: $secondary-color;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  .pane-content {
    padding: 15px;
  }
}

.dmt-form {
  .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 7px;
    border-bottom: 1px solid rgb(211, 211, 211);
    border-radius: 0;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
  }
  .dmt-button {
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    &.btn-primary {
      background-color: $brand-color;
      &:hover {
        background-color: darken($brand-color, 5%);
      }
    }
  }
}

.dmt-btn {
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  &.btn-primary {
    background-color: $brand-color;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }
  &.disabled {
    background-color: #70a281;
    &:hover {
      background-color: #70a281;
    }
  }
  &.btn-cancel {
    background-color: #999;
    color: #fff;
    &:hover {
      background-color: darken(#999, 5%);
    }
  }
  &.btn-sm {
    padding: 5px 12px;
  }
}

.dmt-toggle {
  font-size: 15px;
  line-height: 25px;
  color: #404040;
  cursor: pointer;
  position: relative;
  display: block;
  font-weight: 400;
  height: 25px;
  width: 66px;

  // Reset bootstrap label
  margin-bottom: initial;

  input {
    position: absolute;
    left: -9999px;
    margin: 4px 0 0;
    line-height: normal;

    &:checked+i:after {
      content: attr(data-swchon-text);
      text-align: right;
    }

    &:checked+i:before {
      right: 44px;
    }
  }

  &.state-disabled {
    cursor: default;
    opacity: .6;
  }

  i {
    width: 65px;
    height: 25px;
    right: inherit;
    background: rgba(255,255,255,.12);
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    background: #fff;

    &:before {
      top: 8px;
      right: 8px;
      background-color: #3276B1;
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      opacity: 1;
      transition: right .2s;
      -o-transition: right .2s;
      -ms-transition: right .2s;
      -moz-transition: right .2s;
      -webkit-transition: right .2s;
    }
    
    &:after {
      font-size: 15px;
      top: 6px;
      content: attr(data-swchoff-text);
      position: absolute;
      right: 8px;
      left: 8px;
      font-style: normal;
      line-height: 13px;
      font-weight: 700;
      text-align: left;
      color: #5f5f5f;
    }
  }
}

.dmt-checkbox {
  position: relative;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 29px;

  input {
    position: absolute;
    left: -9999px;
  }

  i {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    border:1px solid #ddd;

    &:after {
      opacity: 0.2;
      content: '';
      position: absolute;
      width: 12px;
      height: 7px;
      background: transparent;
      top: 7px;
      left: 6px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &:hover {
    i:after {
      opacity: 0.5;
    }
  }

  input[type=checkbox]:checked + i:after {
    opacity: 1;
  }
}

.dmt-select {
  select {
    border: none;
    background-color: transparent;
    height: 32px;
    width: 100%;
  }
  border-bottom: 1px solid rgb(209, 209, 209);
}

.dmt-remove-btn {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #df333a;
  color: #fff;
  padding-left: 7px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: darken(#df333a, 5%);
  }
}

.dmt-spinner-wrapper {
  position: relative;
  &.loading {
    min-height: 100px;
  }
}