@import './_variables';
@import './vendor';
@import './dmt-icon';
@import './dmt-responsive';
@import './dmt-component';

.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

// Override bootstrap form-horizontal
// To make form not collapsed on mobile device
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
  color: $brand-color;
}