<div class="sign-in-container">
  <div class="centered-content-container">
    <div class="centered-content">
      <div class="logo">
        <img src="assets/img/demeter/logo.svg" 
          class="img-responsive"
          alt="demeter">
      </div>
      <h3 class="title">Technology Solutions In Agriculture</h3>
      <p class="more">Discover more</p>
      <form class="sign-in-form">
        <fieldset [disabled]="fetching">
          <div class="form-group">
            <input
              [(ngModel)]="loginAccount.email"
              name="email"
              type="text"
              placeholder="Email"
              class="form-control">
          </div>
          <div class="form-group">
            <input
              [(ngModel)]="loginAccount.password"
              name="password"
              type="password"
              placeholder="Password"
              class="form-control">
          </div>
          <p class="forgot-pass">
            <a routerLink="/auth/forgot-password">Forgot your password?</a>
          </p>
        </fieldset>
        <div class="main-actions">
          <button class="dmt-button btn btn-primary" (click)="login()">
            Log In
          </button>

          <p class="create-account">
            <a routerLink="/sign-up">Create an account</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
