.col-id {
  width: 40px;
}

.col-actions {
  text-align: right;
}

.col-actions a {
  padding: 0 5px;
}

.delete-action {
  color: #a90329;
}

.delete-action:hover {
  color: #900323;
}

fieldset {
  max-width: 600px;
}

.button-group-wrap {
  height: 35px;
}

.form-header {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;

  label, .btn-group {
    align-self: center;
  }

  .btn-group {
    margin-left: auto;

    .demeter-btn {
      margin-left: 7px;
    }
  } 

}