<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{mode + ' User'}}</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #form="ngForm">
          <div class="form-group row">
            <label for="input1" class="col-sm-3 form-control-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="input1" placeholder="Email"
                #user_email="ngModel"
                name="user_email"
                required
                [(ngModel)]="user.email"
                [ngClass]="user_email.valid || user_email.pristine ? '' : 'form-control-danger'"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div class="note note-error"
                [hidden]="user_email.pristine || !user_email.errors?.required">This is a required field.
              </div>
              <div class="note note-error"
                [hidden]="user_email.pristine || !user_email.errors?.pattern">Please enter a VALID email address.
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="mode == 'Create'">
            <label for="input2" class="col-sm-3 form-control-label">Username</label>
            <div class="col-sm-9">
              <input class="form-control" id="input2" placeholder="Username"
                name="username"
                [(ngModel)]="user.username">
            </div>
          </div>
          <div class="form-group row" *ngIf="mode == 'Create'">
            <label for="input3" class="col-sm-3 form-control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="input3" placeholder="Password"
                name="password"
                [(ngModel)]="user.password">
            </div>
          </div>
          <div class="form-group row" *ngIf="mode == 'Create'">
            <label for="input4" class="col-sm-3 form-control-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="input4" placeholder="Confirm Password"
                name="password_confirmation"
                [(ngModel)]="user.password_confirmation">
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <nb-checkbox
                  name="is_company_admin"
                  [(ngModel)]="user.is_company_admin">Is Company Admin</nb-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <nb-checkbox
                  name="is_family_user"
                  [(ngModel)]="user.is_family_user">Is Family User</nb-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                [disabled]="!form.valid"
                [ngClass]="form.valid ? '' : 'disabled'"
                (click)="saveOrUpdate()"
                class="btn btn-primary">OK</button>

              <button
                *ngIf="mode == 'Edit'"
                type="submit"
                [disabled]="!form.valid"
                [ngClass]="form.valid ? '' : 'disabled'"
                (click)="openChangePassword()"
                class="btn btn-primary">Change Password</button>

              <button class="btn btn-default" routerLink="/pages/user">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
