<form class="smart-form">
  <header>Camera Display</header>
  <fieldset>
    <section class="table-section">
      <label>List of Cameras</label>
      <button 
        class="demeter-btn create-btn primary pull-right"
        (click)="cameraSelectModal.show()">Add</button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-id">No.</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camera of cameras" class="demeter-pane">
            <td>{{camera.camera_no}}</td>
            <td>{{camera.camera_name}}</td>
            <td class="col-actions">
              <a class="delete-action" (click)="unAssignCamera(camera)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </fieldset>
</form>

<camera-select-modal #cameraSelectModal mode="assign_camera_to_zone" (onResolve)="reloadZone()"></camera-select-modal>