<header class="user-header">
  <div class="brand">
    <span class="dmt-logo">
      <a routerLink="/user/project">
        <img src="assets/img/cau-dat/logo.svg" alt="demeter" class="img-responsive">
      </a>
    </span>

    <a class="desktop-toogle" (click)="toggleSidebar()" *ngIf="hasSidebar">
      <i class="fa fa-reorder" aria-hidden="true"></i>
    </a>
  </div>
  <ul class="button-group-right">
    <li class="icon-button">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </li>
    <li class="icon-button">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </li>
    <li class="icon-button">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </li>
    <li class="icon-button dropdown" dropdown>
      <span class="dropdown-toggle" dropdownToggle>
        <i class="fa fa-user" aria-hidden="true"></i>
        <i class="fa fa-angle-down"></i> 
      </span>
      <ul class="dropdown-menu pull-right">
        <li>
          <a routerLink="/user/profile">
            <i class="fa fa-user"></i>&nbsp; Profile
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <i class="fa fa-sign-out"></i>&nbsp; Logout
          </a>
        </li>
      </ul>
    </li>
    <li class="icon-button mobile-toogle"
      *ngIf="hasSidebar"
      (click)="toggleHeaderMenu()">
      <i class="fa fa-reorder" aria-hidden="true"></i>
    </li>
  </ul>
</header>

<div class="menu-header" [ngClass]="isHeaderMenuOpen ? 'open' : ''">
  <ul>
    <li class="menu-group">
      <span class="menu-group-name">
        <img src="assets/img/cau-dat/icon/monitor-control.png">
        <span class="text">Monitoring &amp; Control</span>
      </span>
      <ul class="menu-list">
        <li>
          <a (click)="goToPage('summary')">Summary</a>
        </li>
        <li>
          <a (click)="goToPage('monitoring-control/history')">History</a>
        </li>
        <li>
          <a (click)="goToPage('monitoring-control/camera')">Camera</a>
        </li>
        <li>
          <a (click)="goToPage('monitoring-control/alert')">Alert</a>
        </li>
        <li>
          <a (click)="goToPage('monitoring-control/control')">Control</a>
        </li>
      </ul>
    </li>
  </ul>
</div>