.topics {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
}

.single-topic {
  padding: 7px;
  width: 50%;
  max-width: 200px;
  
  .content-wrap {
    position: relative;

    // When images havenot loaded. min-height used to make title aligned nicely
    min-height: 100px;
  }

  .topic-img {
    border-radius: 10px;
  }
  .title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
  }
  .title-background {
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: 40px;
    background-color: #ddd;
    opacity: 0.7;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
