$brand-color: rgb(49, 139, 80);
.timer-pane {
  margin-top: 30px;
  .title {
    font-weight: 700;
    padding: 5px 0;
    padding-left: 10px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  .dmt-form {
    margin: 30px 30px 0 30px;
  }

  .btn-wrap {
    text-align: right;
    button {
      padding: 5px 12px;
    }
  }

  .form-group {
    display: flex;
    align-items: center;
  }

  .form-control-wrap {
    flex: 1;
  }

  .control-label {
    text-align: right;
  }
}

.pedriod-pane {
  .control-label {
    width: 40px;
    margin-right: 15px;
  }
}

.schedule-pane {
  .time-control {
    max-width: 120px;
    text-align: right;
  }

  .time-form-group {
    display: flex;
    flex: 1;
    align-items: center;

    >:not(:first-child) {
      margin-left: 8px;
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .delete-action-wrap {
    width: 22px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    .delete-btn {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: #df333a;
      color: #fff;
      padding-left: 7px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
