<div class="timer-pane pedriod-pane">
  <div class="title">Period</div>
  <div class="dmt-form">
    <div class="form-group">
      <div class="control-label">
          From
      </div>
      <div class="form-control-wrap">
        <input
          class="form-control"
          type="date"
          [(ngModel)]="device.timer_start_date" />
      </div>
    </div>
    <div class="form-group">
      <div class="control-label">
          To
      </div>
      <div class="form-control-wrap">
        <input
          class="form-control"
          type="date"
          [(ngModel)]="device.timer_end_date" />
      </div>
    </div>
  </div>
</div>

<div class="timer-pane schedule-pane">
  <div class="title">Schedule</div>
  <div class="dmt-form">
    <div class="col-xs-12 form-group" *ngFor="let schedule of device.timer_daily_schedule">
      <div class="col-xs-8 col-sm-6 col-md-6 time-form-group">
        <span>From</span>
        <input
          class="form-control time-control"
          type="time"
          [(ngModel)]="schedule.from_time" />
        <span>To</span>
        <input
          class="form-control time-control"
          type="time"
          [(ngModel)]="schedule.to_time" />
      </div>
      <div class="col-xs-4 col-sm-6 col-md-6 actions">
        <div class="toggle">
          <label class="dmt-toggle">
            <input type="checkbox"
              [(ngModel)]="schedule.is_active">
            <i data-swchoff-text="OFF" data-swchon-text="ON"></i>
          </label>
        </div>
        <div class="delete-action-wrap">
          <div 
            class="delete-btn"
            (click)="remove(schedule)"
            >x</div>
        </div>
      </div>
    </div>
    <div
      class="div btn-wrap">
      <button
        (click)="updateDevice()"
        class="dmt-btn btn-primary">Save</button>
      <button
        (click)="addSchedule()"
        *ngIf="device.timer_daily_schedule.length < 5"
        class="dmt-btn btn-primary">Add</button>
    </div>
  </div>
</div>