$brand-color: rgb(49, 139, 80);
.timer-pane {
  margin-top: 30px;
  .title {
    background-color: $brand-color;
    color: #fff;
    padding: 5px 0;
    padding-left: 20px;
  }

  .dmt-form {
    margin: 30px 30px 0 30px;
  }

  .add-btn-wrap {
    text-align: right;
    .add-btn {
      text-transform: uppercase;
    }
  }

  .form-group {
    display: flex;
    align-items: center;
  }

  .form-control-wrap {
    flex: 1;
  }

  .control-label {
    text-align: right;
  }
}

.pedriod-pane {
  .control-label {
    width: 100px;
    margin-right: 15px;
  }
}

.schedule-pane {
  .time-control {
    max-width: 150px;
    text-align: right;
  }

  .time-form-group {
    display: flex;
    flex: 1;
    align-items: center;

    >:not(:first-child) {
      margin-left: 8px;
    }
  }

  .toggle {
    margin-left: auto;
  }
}
