<table class="table table-hover demeter-table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Time</th>
      <th>Objective</th>
      <th>Status</th>
      <th>Key Result</th>
      <th>PIC</th>
      <th>Start Date</th>
      <th>Deadline</th>
      <th>Deadline 1</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let objective of objectives; let i = index">
      <tr>
        <td [attr.rowspan]="objective.key_results.length + 1">{{ i + 1 }}</td>
        <td [attr.rowspan]="objective.key_results.length + 1">{{objective.date_to}}</td>
        <td [attr.rowspan]="objective.key_results.length + 1">{{objective.objective}}</td>
        <ng-container *ngIf="objective.key_results.length == 0">
          <td></td><td></td><td></td>
          <td></td><td></td><td></td><td></td>
        </ng-container>
        <ng-container *ngIf="objective.key_results.length > 0">
          <td>{{objective.key_results[0].status}}</td>
          <td>{{objective.key_results[0].description}}</td>
          <td>
            {{objective.key_results[0].pic.join(', ')}}
          </td>
          <td>{{objective.key_results[0].start_date}}</td>
          <td>{{objective.key_results[0].original_deadline}}</td>
          <td>{{objective.key_results[0].deadline1}}</td>
          <td>{{objective.key_results[0].note}}</td>
        </ng-container>
        <td [attr.rowspan]="objective.key_results.length + 1" class="col-actions">
          <a routerLink="{{objective.id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="delete-action" (click)="removeObjective(objective)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr *ngFor="let key_result of objective.key_results; let i = index">
        <ng-container *ngIf="i != 0">
          <td>{{key_result.status}}</td>
          <td>{{key_result.description}}</td>
          <td>
            {{key_result.pic.join(', ')}}
          </td>
          <td>{{key_result.start_date}}</td>
          <td>{{key_result.original_deadline}}</td>
          <td>{{key_result.deadline1}}</td>
          <td>{{key_result.note}}</td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>