<div class="smart-form">
  <header>
    List of Executions
    <div
      *ngIf="canEdit"
      class="btn-group pull-right">
      <button 
        class="demeter-btn create-btn primary"
        routerLink="new"
        >Add</button>
    </div>
  </header>
</div>

<alert type="warning" dismissible="true" *ngIf="programs && programs.length == 0"
  class="alert-no-item">
  <i class="fa-fw fa fa-warning"></i>
  <strong>No program available!</strong> Click 'Add' to add new one.
</alert>

<div class="smart-form dmt-table">
  <div *ngFor="let program of programs; let i = index;" class="dmt-tr">
    <section class="name">
      <span class="text">
        <a routerLink="{{program.id}}">
          {{program.name}}
        </a>
      </span>

      <a (click)="remove(program)" class="delete-action" *ngIf="canEdit">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </section>

    <section>
      <div class="dmt-control-toggle">
        <label class="toggle" [class.state-disabled]="program.isRunning || !canEdit">
          <input type="checkbox" [ngModel]="program.is_active"
            [disabled]="program.isRunning || !canEdit"
            (click)="changeValue($event, program)">
          <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
        </label>
        <div class="spinner-wrapper">
          <app-spinner [isRunning]="program.isRunning"></app-spinner>
        </div>
      </div>
    </section>
  </div>
</div>
