<div class="posts">
  <div class="single-post"
    (click)="goToPost(post)"
    *ngFor="let post of posts">

    <img class="post-img"
      [src]="post.picture?.thumb?.url ? post.picture.thumb.url : 'assets/img/flat-icon/pictures.png'" />
    <div class="content-wrap">
      <div class="title">{{post.title}}</div>
      <div class="bottom-line">
        <span class="icon-btn">
          <img src="assets/img/demeter/icon/LIKE.png" alt="like-btn">
          <span class="num">{{post.like_count}}</span>
        </span>
        <span class="icon-btn comment-btn">
          <img src="assets/img/demeter/icon/COMMENT.png" alt="comment-btn">
          <span class="num">5</span>
        </span>
        <span class="topic">{{post.family_topic?.title}}</span>
        <span class="icon-btn share-btn">
          <img src="assets/img/demeter/icon/SHARE.png" alt="share-btn">
          <span class="num">3</span>
        </span>
      </div>
    </div>
  </div>
</div>