<div class="container-fluid">
  <demeter-user-sidebar></demeter-user-sidebar>

  <div class="col-md-9">
    <div class="content-header">
      <div class="demeter-title">Camera</div>
    </div>

    <div class="demeter-pane">
      <div class="row">
        <div class="col-md-6 camera-item" *ngFor="let camera of cameras">
          <app-camera [camera]="camera"></app-camera>
          <a routerLink="{{camera.id}}">
            <p class="camera-name">{{camera.camera_name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>