<div class="container no-padding">
  <app-zone-summary-pane></app-zone-summary-pane>
</div>

<div class="container">
  <div class="section-separator"></div>
</div>

<div class="container no-padding">
  <div class="row">
    <demeter-user-sidebar></demeter-user-sidebar>

    <div class="page-content col-md-8">
      <div class="content-header">
        <div class="demeter-title">Camera</div>
      </div>

      <div class="demeter-pane">
        <div class="row">
          <div class="col-md-6 camera-item" *ngFor="let camera of cameras">
            <a routerLink="{{camera.id}}">
              <div class="camera-pic-holder">
                <img class="camera-pic" src="assets/img/cau-dat/youtube.png"/>
              </div>
            </a>
            <a routerLink="{{camera.id}}">
              <p class="camera-name">{{camera.name}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
