<div class="search-bar">
  <input type="text" [(ngModel)]="search" class="search-input" />
  <img src="assets/img/demeter/icon/SEARCH.png" alt="search" class="search-icon">
</div>

<div class="filter-btns">
  <a class="filter-btn"
    *ngFor="let menu of menus"
    (click)="goTo(menu)"
    [ngClass]="activeMenu == menu.id ? 'active' : ''">{{menu.text}}</a>
</div>

<div *ngIf="activeMenu != 'topic'">
  <agribook-list-post [posts]="posts"></agribook-list-post>
</div>

<div class="dmt-spinner-wrapper"
  [ngClass]="isLoading ? 'loading' : ''">
  <app-spinner [isRunning]="isLoading"></app-spinner>
</div>

<agribook-home-topic *ngIf="activeMenu == 'topic'"></agribook-home-topic>