.create-btn {
  position: absolute;
  right: 0;
  top: -66px;
}

.point-button {
  position: absolute;
  right: 0;
  margin-top: -30px;
  padding: 3px 10px;
}

.distributions {
  display: flex;
  flex-direction: column;

  .info-container {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    padding: 10px;
    height: 120px;
    border: 0.5px solid #CCC;
  
    .brand-logo {
      width: 120px;
      height: 120px;
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        max-width: 100px;
        max-height: 100px;
      }
      .image-actions {
        display: flex;
        justify-content: flex-end;
        opacity: 1;
        
        a {
          margin: 5px;
        }
      }

      &:hover {
        .image-actions {
          opacity: 1;
        }
      }
    }

    .info-rows {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 20px;
      justify-content: center;
  
      .info-row {
        .info-label {
          width: 120px;
        }
    
        .info-value {
          font-weight: bold;
        }
      }
    }
  }  
}