<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Device Management', 'Field Management']" icon="book" class="col-md-12"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="well">
            <button 
                class="demeter-btn create-btn primary pull-right"
                routerLink="new">Create Field</button>
            <sa-datatable [options]="options" 
                (setDatatableEle)="setDatatableEle($event)"
                tableClass="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th [style.width]="'8%'" data-hide="mobile-p">ID</th>
                        <th>Field ID</th>
                        <th>Name</th>
                        <th>Display Name</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Interval</th>
                        <th>Last Updated</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
            </sa-datatable>
        </div>
    </div>
  </div>
</div>