.cron {
  text-align: center;
}

.query-builder-container {
  margin: 0 30px;
}

.execution-name {
  font-size: 22px;
  display: -webkit-flex;
  display: flex;

  i, input {
    align-self: center;
  }

  input {
    flex: 1;
    margin-left: 15px;
    padding: 2px 10px;

    border: 1px solid #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;

    &:hover, &:focus {
      border-color: #5D98CC;
    }
  }

  &.error {
    input {
      background: #fff0f0;
      border-color: #A90329;
      border-style: solid;
    }

    i {
      color: #A90329;
    }
  }
}

.execution-name-error {
  font-size: 14px;
  margin-left: 40px;
}

.execution-builder {
  margin: 20px 30px 0;
}

.smart-form header {
  font-size: 20px;
  margin-bottom: 15px;
}

.effective-period-group {
  max-width: 300px;
  margin: 0 auto;
}

.demeter-form-group {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 12px;

  .control-label {
    align-self: center;
    margin-bottom: 0;
    width: 100px;
  }

  .control {
    flex: 1;
  }
}