.single-chart-data {
  margin-top: 20px;
}

.date-group {
  display: flex;
  align-items: center;
  .form-control {
    flex: 1;
  }
}

.control-label {
  width: 45px;
  margin-right: 10px;
}

.time-group {
  display: flex;
  align-items: center;

  .form-control {
    width: calc(50% - 45px);
  }
}

.dmt-form {
  max-width: 500px;
  margin: 0 auto;
}

.buttons {
  margin-top: 15px;
  display: flex;
  button {
    margin-left: auto;
  }
}
@media only screen and (max-width: 400px) {
  .dmt-form {
    max-width: 280px;
  }
}
