<div class="dmt-form form-horizontal">
  <div class="date-group">
    <div class="control-label">Date</div>
    <input class="form-control" type="date" [(ngModel)]="filter.date"/>
  </div>
  <div class="time-group">
    <div class="control-label">From</div>
    <input class="form-control" type="time" [(ngModel)]="filter.start_time"/>
    <div class="control-label">To</div>
    <input class="form-control" type="time" [(ngModel)]="filter.end_time"/>
  </div>
  <div class="buttons">
    <button class="dmt-btn btn-primary"
      [ngClass]="isRequesting ? 'disabled' : ''"
      [disabled]="isRequesting"
      (click)="report()">Report</button>
  </div>
</div>

<div *ngIf="!isRequesting">
  <div class="chart-tabs-wrap">
    <div class="chart-tabs">
      <div class="chart-tab" 
        [ngClass]="chart === activeChartTab ? 'active' : ''"
        *ngFor="let chart of chartTabs" (click)="setActiveChartTab(chart)">
        <p class="chart-name">{{chart.name}}</p>
      </div>
    </div>
    <div *ngFor="let chart of chartTabs; let i = index">
      <div id="chart-container-{{i}}" class="chart-container" [hidden]="chart != activeChartTab"></div>
    </div>
  </div>
</div>

<div class="spinner-wrapper"
  [ngClass]="isRequesting ? 'requesting' : ''">
  <app-spinner [isRunning]="isRequesting"></app-spinner>
</div>