<div class="content-header">
  <div class="demeter-title">Control</div>
</div>

<div class="demeter-pane demeter-tabbed-pane">

  <alert type="warning" dismissible="true" *ngIf="fields && fields.length == 0">
    <i class="fa-fw fa fa-warning"></i>
    <strong>No device available!</strong> Click 'Add' to add new one.
  </alert>

  <ul class="nav nav-tabs bordered">
    <li [class.active]="activeTab == 0">
      <a (click)="goToDevices()">
        <i class="fa fa-bars"></i> Devices
      </a>
    </li>
    <li [class.active]="activeTab == 1">
      <a (click)="goToExecutions()">
        <i class="fa fa-bookmark-o" aria-hidden="true"></i> Executions
      </a>
    </li>
  </ul>

  <div class="demeter-pane-content">
    <tabset class="padding-10">
      <div *ngIf="activeTab == 0">
        <zone-control-device></zone-control-device>
      </div>
      <div *ngIf="activeTab == 1">
        <zone-control-execution></zone-control-execution>
      </div>
    </tabset>
  </div>
</div>