.demeter-tabbed-pane {
    padding: 0;
    .nav-tabs {
      background: #F5F3EB;
      border: none;
      border-bottom: 1px solid #ddd;
    }

    .demeter-pane-content {
      padding: 0 25px;
    }
}

