<form class="smart-form">
    <header>List of materials</header>
    <fieldset>
      <section>
        <button class="demeter-btn create-btn primary pull-right"
        (click)="materialsForm.open()">Add</button>
        <table class="table table-hover table-bordered demeter-table">
            <thead>
              <tr>
                <th>No.</th>
                <th>Material Name</th>
                <th>Origin</th>
                <th>Block Code</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of materials; let i = index;" class="demeter-pane">
                <td>{{i + 1}}</td>
                <td>{{ item.name }}</td>
                <td>{{item.origin}}</td>
                <td>{{item.blockCode}}</td>
                <td class="col-actions">
                  <a (click)="materialsForm.open(item)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a class="delete-action" (click)="onRemove()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
      </section>
    </fieldset>
  </form>
  <materials-form #materialsForm></materials-form>