<div class="sidebar show">
  <div class="menu-group">
    <div class="menu-group-title title-1">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/monitor-control.png" />
      </div>
      <div class="menu-title-text">
        Monitoring & Control
      </div>
    </div>
    <ul>
      <li>
        <a (click)="goToPage('summary')">Summary</a>
      </li>
      <li>
        <a (click)="goToPage('monitoring-control/history')">History</a>
      </li>
      <li>
        <a (click)="goToPage('monitoring-control/camera')">Camera</a>
      </li>
      <li>
        <a (click)="goToPage('monitoring-control/alert')">Alert</a>
      </li>
      <li>
        <a (click)="goToPage('monitoring-control/control')">Control</a>
      </li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-2">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/crop-management.png" />
      </div>
      <div class="menu-title-text">
        Crop Management
      </div>
    </div>
    <ul>
      <li>
        <a (click)="goToPage('crop-management/human')">Human</a>
      </li>
      <li>
        <a (click)="goToPage('crop-management/okr')">OKR</a>
      </li>
      <li>
        <a (click)="goToPage('crop-management/daily-task')">Daily Task</a>
      </li>
      <li>
        <a (click)="goToPage('crop-management/daily-report')">Daily Report</a>
      </li>
      <li>
        <a (click)="goToPage('crop-management/warning')">Warning</a>
      <li>
        <a (click)="goToPage('crop-management/weather')">Weather</a>
      </li>
      <li>
        <a (click)="goToPage('crop-management/document')">Document</a>
      </li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-3">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/finance.png" />
      </div>
      <div class="menu-title-text">
        Finance
      </div>
    </div>
    <ul>
      <li>Sale</li>
      <li>Expense</li>
      <li>Control</li>
      <li>Company Finances</li>
      <li>Monthly Finances</li>
      <li>Transaction</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-4">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/resources.png" />
      </div>
      <div class="menu-title-text">
        Resources
      </div>
    </div>
    <ul>
      <li>People</li>
      <li>Fields</li>
      <li>Machinery</li>
      <li>Inventory</li>
      <li>Document</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-5">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/report.png" />
      </div>
      <div class="menu-title-text">
        Report
      </div>
    </div>
  </div>

  <div class="menu-group" *ngIf="showSetting">
    <div class="menu-group-title title-6">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/setting.png" />
      </div>
      <div class="menu-title-text">
        <a (click)="goToPage('setting')">Setting</a>
      </div>
    </div>
  </div>
</div>