<div class="sidebar col-md-3">
  <div class="menu-group">
    <div class="menu-group-title title-1">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/monitor-control.png" />
      </div>
      <div class="menu-title-text">
        Monitoring & Control
      </div>
    </div>
    <ul>
      <li>
        <a (click)="goToPage('summary')">Summary</a>
      </li>
      <li>
        <a (click)="goToPage('history')">History</a>
      </li>
      <li>
        <a (click)="goToPage('camera')">Camera</a>
      </li>
      <li>Alarm</li>
      <li>Control</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-2">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/crop-management.png" />
      </div>
      <div class="menu-title-text">
        Crop Management
      </div>
    </div>
    <ul>
      <li>Production Plan</li>
      <li>
        <a (click)="goToPage('okr')">OKR</a>
      </li>
      <li>Tasks</li>
      <li>Season</li>
      <li>
        <a (click)="goToPage('weather')">Weather</a>
      </li>
      <li>Warning</li>
      <li>Document</li>
      <li>Human</li>
      <li>
        <a (click)="goToPage('daily-report')">Daily Report</a>
      </li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-3">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/finance.png" />
      </div>
      <div class="menu-title-text">
        Finance
      </div>
    </div>
    <ul>
      <li>Sale</li>
      <li>Expense</li>
      <li>Control</li>
      <li>Company Finances</li>
      <li>Monthly Finances</li>
      <li>Transaction</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-4">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/resources.png" />
      </div>
      <div class="menu-title-text">
        Resources
      </div>
    </div>
    <ul>
      <li>People</li>
      <li>Fields</li>
      <li>Machinery</li>
      <li>Inventory</li>
      <li>Document</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-5">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/report.png" />
      </div>
      <div class="menu-title-text">
        Report
      </div>
    </div>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-6">
      <div class="menu-icon">
        <img src="assets/img/cau-dat/icon/setting.png" />
      </div>
      <div class="menu-title-text">
        <a (click)="goToPage('setting')">Setting</a>
      </div>
    </div>
  </div>
</div>