<div class="sidebar col-md-4">
  <div class="menu-group">
    <div class="menu-group-title title-1">
      Monitoring & Control
    </div>
    <ul>
      <li>Camera System</li>
      <li>Data realtime</li>
      <li>Control</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-2">
      Crop Management
    </div>
    <ul>
      <li>Production Plan</li>
      <li>OKR</li>
      <li>Tasks</li>
      <li>Season</li>
      <li>Weather</li>
      <li>Warning</li>
      <li>Document</li>
      <li>Human</li>
      <li>Daily Report</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-3">
      Finance
    </div>
    <ul>
      <li>Sale</li>
      <li>Expense</li>
      <li>Control</li>
      <li>Company Finances</li>
      <li>Monthly Finances</li>
      <li>Transaction</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-4">
      Resources
    </div>
    <ul>
      <li>People</li>
      <li>Fields</li>
      <li>Machinery</li>
      <li>Inventory</li>
      <li>Document</li>
    </ul>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-5">
      Report
    </div>
  </div>

  <div class="menu-group">
    <div class="menu-group-title title-6">
      Setting
    </div>
  </div>
</div>