$brand-color: rgb(49, 139, 80);
$left-nav-width: 150;
$left-nav-background-color: #f3f6e6;

.project-content {
  // 120 = 60 (header + padding header) + 50 (bottom navigation) + 10 (padding bottom content)
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-y: auto;
  margin-bottom: 10px;
}

.project-content-desktop {
  margin-left: ($left-nav-width + 20) * 1px;
}

.navigation-common {
  position: fixed;
  left: 0;
  // To prevent chart overlay
  z-index: 100;
  .item {
    display: flex;
    align-items: center;
    color: #555;
    cursor: pointer;
    flex: 1 0;
    .icon {
      height: 20px;
      display: flex;
      align-items: center;
    }
    .icon img {
      max-height: 20px;
      max-width: 30px;
    }
    .title {
      font-size: 11px;
    }
    &.active,
    &:hover {
      .title {
        color: $brand-color;
      }
    }
  }
}

.footer-navigation {
  @extend .navigation-common;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid rgb(138, 138, 141);
  background-color: #fff;
  .item {
    flex-direction: column;
  }
}

.left-navigation {
  @extend .navigation-common;
  display: inline-block;
  align-items: left;
  top: 65px; // 15 + 40 (Header Heigh)
  width: $left-nav-width * 1px;
  height: 100%;
  padding-top: 10px;
  background-color: $left-nav-background-color;
  .item {
    flex-direction: row;
    height: 50px;
    background-color: $left-nav-background-color;
    .icon {
      padding: 10px;
    }
    &.active,
    &:hover {
      background-color: white;
    }
  }
}

.more-navigation {
  position: fixed;
  right: 0;
  bottom: 50px;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid rgb(138, 138, 141);
  border-left: 1px solid rgb(138, 138, 141);
  // To prevent chart overlay
  z-index: 100;
  .item {
    display: flex;
    align-items: center;
    color: #555;
    cursor: pointer;
    flex: 1 0;
    height: 50px;
    .item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .icon img {
      height: 20px;
    }
    .title {
      font-size: 11px;
    }
    &.active,
    &:hover {
      .title {
        color: $brand-color;
      }
    }
  }
}
