<div class="project-layout">
  <div class="project-content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-navigation">
    <a class="item"
      routerLink="/{{user.username}}/project/{{project.id}}/{{navigation.url}}"
      (mouseenter)="mouseenter(navigation)"
      (mouseleave)="mouseleave(navigation)"
      [ngClass]="navigation.id == activeNavigation.id ? 'active' : ''"
      (click)="activeNavigation = navigation"
      *ngFor="let navigation of navigations">
  
      <div class="icon">
        <img [src]="navigation.id == activeNavigation.id ? navigation.iconActive : navigation.icon" alt="{{navigation.title}}" class="img-responsive">
      </div>
      <div class="title">{{navigation.title}}</div>
    </a>
  </div>
</div>
