<div class="project-layout">
  <div [ngClass]="{'project-content': isMobileMode(),'project-content-desktop': isDesktopMode()}">
    <router-outlet></router-outlet>
  </div>
  <div [ngClass]="{'footer-navigation': isMobileMode(), 'left-navigation': isDesktopMode()}">
    <a class="item"
      (mouseenter)="mouseenter(navigation)"
      (mouseleave)="mouseleave(navigation)"
      [ngClass]="navigation.id == activeNavigation.id ? 'active' : ''"
      (click)="handleNavigationClick(navigation)"
      *ngFor="let navigation of navigations">
  
      <div class="icon">
        <img [src]="navigation.id == activeNavigation.id ? navigation.iconActive : navigation.icon" alt="{{navigation.title}}" class="img-responsive">
      </div>
      <div class="title">{{navigation.title}}</div>
    </a>
    <a *ngIf="isMobileMode() && moreIcon"
      class="item"
      (mouseenter)="mouseenter(moreIcon)"
      (mouseleave)="mouseleave(moreIcon)"
      (click)="handleNavigationClick(moreIcon)">

      <div class="icon">
        <img [src]="moreIcon.icon" alt="{{moreIcon.title}}" class="img-responsive">
      </div>
      <div class="title">{{moreIcon.title}}</div>
    </a>
  </div>
  <div class="more-navigation"
    *ngIf="isShowMoreBottomBar">
    <a class="item"
      (mouseenter)="mouseenter(navigation)"
      (mouseleave)="mouseleave(navigation)"
      [ngClass]="navigation.id == activeNavigation.id ? 'active' : ''"
      (click)="handleNavigationClick(navigation)"
      *ngFor="let navigation of moreNavigations">
  
      <div class="item-content">
        <div class="icon">
          <img [src]="navigation.id == activeNavigation.id ? navigation.iconActive : navigation.icon" alt="{{navigation.title}}" class="img-responsive">
        </div>
        <div class="title">{{navigation.title}}</div>
      </div>
    </a>
  </div>

</div>
