<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{mode + ' Field'}}</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #form="ngForm">
          <div class="form-group row">
            <label for="input1" class="col-sm-3 form-control-label">Field ID <span class="req-field">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="input1" placeholder="Field ID"
                #field_id="ngModel"
                name="field_id"
                required
                [(ngModel)]="deviceField.field_id"
                [ngClass]="field_id.valid || field_id.pristine ? '' : 'form-control-danger'">
              <div class="note note-error"
                [hidden]="field_id.pristine || !field_id.errors?.required">This is a required field.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="input7" class="col-sm-3 form-control-label">Name <span class="req-field">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="input7" placeholder="Name"
                #field_name="ngModel"
                name="field_name"
                required
                [(ngModel)]="deviceField.name"
                [ngClass]="field_name.valid || field_name.pristine ? '' : 'form-control-danger'">
              <div class="note note-error"
                [hidden]="field_name.pristine || !field_name.errors?.required">This is a required field.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="input4" class="col-sm-3 form-control-label">Attribute</label>
            <div class="col-sm-9">
              <select [(ngModel)]="deviceField.field_attribute"
                class="form-control" id="input4"
                name="field_attribute">
                <option value="read_only">read_only</option>
                <option value="read_write">read_write</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="input5" class="col-sm-3 form-control-label">Data Type</label>
            <div class="col-sm-9">
              <select [(ngModel)]="deviceField.value_data_type"
                class="form-control" id="input5"
                name="value_data_type">
                <option value="integer">integer</option>
                <option value="float">float</option>
                <option value="string">string</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="input8" class="col-sm-3 form-control-label">Value</label>
            <div class="col-sm-9">
              <input [(ngModel)]="deviceField.value"
                class="form-control"
                [disabled]="deviceField.update_rate != 0"
                id="input8"
                #value="ngModel" name="value" />
            </div>
          </div>
          <h4>Chart Configuration</h4>
          <div class="form-group row">
            <label for="input9" class="col-sm-3 form-control-label">Chart Suffix</label>
            <div class="col-sm-9">
              <input [(ngModel)]="deviceField.chart_value_suffix"
                class="form-control"
                id="input9"
                name="chart_value_suffix" />
            </div>
          </div>
          <div class="form-group row">
            <label for="input10" class="col-sm-3 form-control-label">Chart Value Diff</label>
            <div class="col-sm-9">
              <input [(ngModel)]="deviceField.chart_value_diff"
                class="form-control"
                id="input10"
                type="number"
                name="chart_value_diff" />
            </div>
          </div>
          <div class="form-group row action-row">
            <div class="action-buttons">
              <button
                type="submit"
                [disabled]="!form.valid"
                [ngClass]="form.valid ? '' : 'disabled'"
                (click)="saveOrUpdate()"
                class="btn btn-primary">OK</button>
              <button class="btn btn-default" routerLink="/pages/family/package/{{package_id}}/device">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
