  <style>
  .pac-container {
  z-index: 10000!important;
}
  </style>
  <form class="form-horizontal" novalidate="novalidate">
    <fieldset>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-md-5 control-label">Brand Name {{typex}} <span class="req-field">*</span></label>
          <div class="col-md-7">
            <input class="form-control" type="text" name="name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-5 control-label">Phone Number<span class="req-field">*</span></label>
          <div class="col-md-7">
            <input class="form-control" type="text" name="phoneNumber" />
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-5 control-label">Email<span class="req-field">*</span></label>
            <div class="col-md-7">
              <input class="form-control" type="text" name="email" />
            </div>
          </div>
        <div class="form-group">
          <label class="col-md-5 control-label">Model</label>
          <div class="col-md-7">
            <select class="form-control">
              <option>Trồng trọt</option>
              <option>Chăn nuôi</option>
              <option>Chế biến</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-5 control-label">Location</label>
          <div class="col-md-7">
            <input class="form-control" type="text" name="location">
            <p class="help-block">
              Select Gmap
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-image-holder">
          <div>
            <a (click)="openSelectFile()">
              <div class="upload-plus-icon upload-preview"></div>
            </a>
            <p class="image-label help-block">Image</p>
          </div>
          <input type="file" class="file-input hiddenfile" accept="image/*" />
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-1 col-padding-map"></div>
        <div class="col-md-1 col-map">
            <g-select-location [height]="'400px'"></g-select-location>
        </div>
      </div>
      <div class="col-md-12">
        <div class="button-group">
          <div class="button-group-right">              
              <span *ngIf="mode == 'edit'; then edit else create"></span>
              <ng-template #edit>
                  <button class="demeter-btn create-btn" type="submit">
                      Edit
                    </button>
              </ng-template>
            
              <ng-template #create>
                  <button class="demeter-btn create-btn" type="submit">
                      Create
                    </button>
              </ng-template>
              
            <button class="demeter-btn danger" (click)="closeModal.emit('close')">
              Cancel
            </button>
          </div>
        </div>
      </div>
      
      
    </fieldset>
  </form>
