
.nav-tabs.bordered {
  background: #F5F3EB;
  border: none;
  border-bottom: 1px solid #ddd;
}

.date-nav-tabs {
  display: flex;
  padding: 0;
  border: none;
  background-color: #F5F3EB;
}

.date-nav-tab {
  flex-grow: 1;
  align-self: center;
  padding: 15px 10px;
  
  cursor: pointer;
  list-style: none;
  text-align: center;
}

.date-nav-tab:hover {
  background-color: #eee;
}

.date-nav-tab>:first-child {
  border-left-width: 0 !important;
}

.date-nav-tab.active {
  color: #555;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #ddd;
  border-bottom-width: 0;
  box-shadow: 0 -2px 0 #57889c;
  margin-top: 2px;
}
