<div class="list-item">
  <a routerLink="project/new" class="item add-item">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
  
  <a *ngFor="let project of projects"
    (click)="navigateToProject(project.id)"
    class="item">

    <div class="project-img"
      [ngStyle]="{'background-image': 'url(' + project.image?.url + ')'}">
    </div>
    <div class="project-detail">
      <span class="project-name">{{project.name}}</span>
      <span class="date">Start date: 01/08/2017</span>
      <span class="date">End date: 31/10/2017</span>
      <span class="remove-btn"
        (click)="confirmRemove($event, project)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </span>
    </div>
  </a>
</div>

