<div class="list-item">
  <a *ngFor="let project of projects"
    (click)="navigateToProject(project.id)"
    class="item project-item">

    <span class="package-status-border"
      *ngIf="project.connected !== undefined">

      <span class="package-status"
        [ngClass]="project.connected == 1 ? 'connected' : ''">

      </span>
    </span>
    <div class="project-img"
      [ngStyle]="{'background-image': 'url(' + project.image?.url + ')'}">
    </div>
    <div class="project-detail">
      <span class="project-name">{{project.name}}</span>
      <span class="date">{{project.package.hash_id}}</span>
      <span class="remove-btn"
        (click)="confirmRemove($event, project)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </span>
    </div>
  </a>
  <a routerLink="project/new" class="item add-item">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
</div>
