.alert-pagination {
  margin: 15px 30px;
  max-width: 500px;

  .alert-list {
    min-height: 100px;
    transition: opacity 0.2s linear;
    opacity: 1;
  }

  .alert-single {
    display: -webkit-flex;
    display: flex;

    .device-icon {
      align-self: center;
      width: 40px;
    }

    .content {
      align-self: center;
      padding-left: 10px;
    }

    p {
      margin-bottom: 0;
    }

    p.time {
      margin-bottom: 3px;
    }
  }

  .alert-single:not(:last-child) {
    margin-bottom: 20px;
  }

  &.loading {
    position: relative;
    pointer-events: none;

    .alert-list {
      opacity: 0.7;
    }

    .spinner {
      display: block;
    }
  }

  .spinner {
    display: none;
  }
}
