$brand-color: rgb(49, 139, 80);
.dmt-header {
  height: 45px;
  background-color: $brand-color;
  display: flex;
  padding: 0 15px;
  font-size: 16px;
  position: fixed;
  width: 100%;

  // To override play button of video
  z-index: 10;

  .brand {
    align-self: center;
    .dmt-logo {
      border-radius: 50%;
      border: 1px solid #fff;
      overflow: hidden;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .home-link {
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
}

.dmt-link {
  display: flex;
  color: #fff;
  align-self: center;
  cursor: pointer;
  .dmt-link-text {
    margin-left: 5px;
  }
  &:hover {
    color: #ccc;
  }
  img {
    height: 45px;
  }
}

.profile-link {
  border-left: 2px solid #fff;
  margin-left: 10px;
  padding-left: 10px;
}

.dmt-link-text {
  text-transform: uppercase;
  align-self: center;
}

.right-header {
  align-self: center;
  margin-left: auto;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .dmt-link {
    .dmt-link-text {
      display: none;
    }
  }
}
