<header class="dmt-header">
  <div class="brand">
    <a routerLink="/" class="dmt-link">
      <span class="dmt-logo">
        <img src="assets/img/demeter/logo.svg" alt="demeter" class="img-responsive">
      </span>
      <span class="dmt-link-text">Demeter</span>
    </a>
  </div>
  <a routerLink="/{{user.username}}"
    class="dmt-link dmt-link-text home-link">
    My Farm
  </a>
  <div class="right-header">
    <span
      class="dmt-link notification-btn"
      [ngClass]="isShowNotification ? 'active' : ''"
      (click)="toggleNotification()">
      <img src="assets/img/demeter/icon/NOTI.png" alt="notification">
      <span class="badge-num"
        *ngIf="numOfUnreadNotis > 0">
        <span>{{numOfUnreadNotis}}</span>
      </span>
    </span>
    <span class="dmt-link">
      <img src="assets/img/demeter/icon/MESS.png" alt="message" class="img-message">
    </span>
    <a routerLink="/{{user.username}}"
      class="dmt-link profile-link">
      <img
        [ngClass]="user.image?.thumb?.url ? '' : 'no-image'"
        [src]="user.image?.thumb?.url ? user.image.thumb.url : 'assets/img/demeter/icon/USER_IMAGE.png'" />
      <span class="dmt-link-text">{{user.first_name}}</span>
    </a>
    <span 
      class="dmt-link setting-btn"
      [ngClass]="isShowSetting ? 'active' : ''"
      (click)="toggleSetting()">
      <img src="assets/img/demeter/icon/SET.png" alt="setting" class="img-setting">
    </span>
  </div>
</header>