$brand-color: rgb(49, 139, 80);
$secondary-color: rgb(80, 181, 88);
.dmt-header {
  height: 45px;
  background-color: $brand-color;
  display: flex;
  font-size: 16px;
  position: fixed;
  width: 100%;

  // To override play button of video
  z-index: 10;

  .brand {
    align-self: center;
    .dmt-logo {
      border-radius: 50%;
      border: 1px solid #fff;
      overflow: hidden;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .home-link {
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
}

.dmt-link {
  display: flex;
  align-items: center;
  color: #fff;
  align-self: center;
  cursor: pointer;
  padding: 7px;
  height: 45px;
  .dmt-link-text {
    margin-left: 5px;
  }
  &:hover {
    color: #ccc;
  }
  img {
    height: 22px;
    align-self: center;
  }

  img.img-message,
  img.img-setting {
    height: 18px;
  }

  img.img-home {
    height: 20px;
  }
}

.border-left {
  border-left: 2px solid #fff;
  padding-left: 5px;
  margin-left: 5px;
  align-self: center;
  height: 35px;
}

.dmt-link-text {
  text-transform: uppercase;
  align-self: center;
}

.right-header {
  align-self: center;
  margin-left: auto;
  display: flex;

  .dmt-link.active,
  .dmt-link:hover {
    background-color: $secondary-color;
  }
}

@media only screen and (max-width: 768px) {
  .dmt-link {
    .dmt-link-text {
      display: none;
    }
  }

  .dmt-header .home-link {
    display: none;
  }
}
