<div class="finance-table col-md-12">
  <caption>{{tableName}}</caption>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>No.</th>
        <th>Object</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Date</th>
        <th>Note</th>
        <th></th>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>
  <div class="finance-table-control col-md-12">
    <label class="col-md-1 col-sm-2">SUM</label>
    <input type="text" class="col-md-3 col-sm-10">
    <div class="col-md-8 col-sm-12">
      <button type="button" class="dmt-btn btn-primary pull-right">Add</button>
    </div>
  </div>
</div>
